.clear-float {
  clear: both;
}

.skilling-parsing-error,
.skilling-option-error {
  margin: 1rem;
  padding: 0.5rem;
  border-width: thin;
  border-style: solid;
  font-size: 125%;
}

.skilling-parser-image {
  max-width: 100%;
}

.skilling-survey-link-container {
  margin-bottom: 1rem;
  padding: 1rem;
  border-width: thin;
  border-style: solid;
}

.skilling-survey-link-title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.skilling-survey-link-description {
  margin-bottom: 1rem;
}

/* Exercise submission status. */

.skilling-throbber-container {
  text-align: center;
}

/* Error report */
.skilling-error {
  font-style: italic;
}

/* Content trees */
/*ul.fancytree-container {*/
/*  border: none;*/
/*}*/

/*ul.ui-fancytree.fancytree-container:focus {*/
/*  outline-offset: 0;*/
/*}*/

/* Hide the element. */
.skilling-hidden {
  visibility: hidden;
}

/* Characters. */
.skilling-insert-character-container {
  /*position: relative;*/
  padding: 1rem;
  border-width: thin;
  border-style: solid;
  border-radius: 4px;
  overflow: auto;
  margin: 2rem;
}

.skilling-insert-character {
  float: left;
  text-align: center;
  margin-right: 1.5rem;
}

.skilling-insert-character-content {
  /*float: left;*/
  margin-left: 1rem;
}

/* Your class page. */

.skilling-class-container, .skilling-instructor-container {
  margin-left: 2rem;
  margin-bottom: 2rem;
  clear: left;
  overflow: auto;
  padding: 1rem;
  border: 4px #ddd solid;
  border-radius: 4px;
}

/* Instructor photo on your-class page. */
.skilling-instructor-image {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.skilling-custom-tag-option-parse-error {
  border-width: thin;
  border-style: solid;
  padding: 0.5rem;
}

/* Libraries using a throbber add their own positioning. */
img.skilling-throbber {
  display: none;
}

#block-skilling-bootstrap-branding a img {
  width: 48px;
}

nav.skilling-book-children-container {
  margin-top: 3rem;
}

nav.skilling-book-children-container ul li a {
  border: none;
  padding: 0;
}

.btn.btn-primary {
  font-weight: bold;
}

.display-4 {
  font-size: 2rem;
}

.skilling-button-links-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.skilling-button-links-container a {
  margin-right: 1rem;
}

/* Classes for showing exercises, principles, etc. in content. */

.skilling-insert-exercise,
.skilling-insert-model,
.skilling-insert-pattern,
.skilling-insert-principle {
  border-width: thin;
  border-style: solid;
  border-radius: 4px;
  margin: 2rem;
  padding: 1rem;
}

.skilling-insert-pattern-legend,
.skilling-insert-principle-legend,
.skilling-insert-exercise-legend,
.skilling-insert-model-legend {
  font-size: 1rem;
  float: right;
  border-width: thin;
  border-style: solid;
  border-radius: 4px;
  padding: 0.3rem;
}

.skilling-insert-exercise-title,
.skilling-insert-model-title,
.skilling-insert-pattern-title,
.skilling-insert-principle-title {
  font-size: 120%;
}

.skilling-annotation-container {
  margin-bottom: 1rem;
  padding: 1rem;
  border-width: thin;
  border-style: solid;
  border-radius: 4px;
}

.skilling-annotation-container.skilling-annotation-warning {
  border-width: medium;
}

.skilling-annotation-title {
  font-size: 120%;
}

/* For showing instructor info on student-message-to-instructor form. */
.skilling-student-message-to-instructor-instructions-container .instructor-identification {
  margin: 2rem;
}

.skilling-student-message-to-instructor-instructions-container .instructor-identification .instructor-identification-photo {
  float: left;
  margin-right: 1rem;
}

#instructor-contact-form textarea {
  background-color: white;
}

.figure {
  border: thin solid black;
  border-radius: 4px;
}

.figure, .figure-indent {
  margin-left: 2rem;
}

/*
Pager on root of book just has one floating child.
Make pager have a height. See:
https://stackoverflow.com/questions/9463069/grow-height-of-parent-div-that-contains-floating-nested-divs
*/
.book-pager {
  overflow: hidden;
  width: 100%;
}

.skilling-class-title, .skilling-instructor-name {
  font-weight: bold;
}

.skilling-code-container ul {
  list-style: none;
}

.skilling-code-container {
  font-family: monospace;
}

.skilling-insert-character-content .skilling-code-container {
  clear: left;
  padding-top: 1rem;
}

.skilling-code-emph1 {
  background-color: #660000;
  color: white;
  font-weight: bold;
  font-style: italic;
}

.skilling-code-emph2 {
  background-color: #006600;
  color: white;
  font-weight: bold;
  font-style: italic;
}

.skilling-code-emph3 {
  background-color: #000066;
  color: white;
  font-style: italic;
  font-weight: bold;
}

/* Exercise counts */

table.skilling-exercise-counts {
  margin-bottom: 1rem;
}

table.skilling-exercise-counts td.skilling-exercise-count-number {
  text-align: center;
}

table.skilling-exercise-counts th {
  padding: 0.5rem;
}

/* Other things. */
.skilling-hide-on-load {
  display: none;
}

.skilling-thin-border {
  border-width: thin;
  border-style: solid;
  border-radius: 4px;
  margin: 1rem;
  padding: 1rem;
  border-color: lightgrey;
}

.skilling-no-bottom-margin {
  margin-bottom: 0;
}
