/* Classes for exercises in content. See display.css for some. */

/* Clear needed when this appears after Where Referenced on exercise
   node page, since the Drup floats Where Referenced.
 */
.skilling-insert-exercise-links {
  clear: left;
  margin-top: 1rem;
}

.skilling-insert-exercise-links-title {
  border-top: 1px solid lightgray;
  font-weight: bold;
}

.skilling-insert-exercise-solution-text-title {
  font-weight: bold;
}

.skilling-insert-exercise-solution-text {
  margin-left: 1rem;
}

.skilling-insert-exercise-solution-files-title {
  font-weight: bold;
}

.skilling-insert-exercise-solution-file {
  margin-left: 1rem;
}

.skilling-submission-complete-badge {
  display: inline-block;
  vertical-align: top;
}

.skilling-exercise-collapsed-item {
  margin-top: 1rem;
}

.skilling-submission-changed-message {
  font-style: italic;
}

.skilling-not-a-student {
  font-style: italic;
}

.skilling-submission-complete-container {
  border-top: solid lightgrey thin;
  border-bottom: solid lightgrey thin;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.submission-actions {
  margin-left: 3rem;
}

.skilling-prior-submission {
  padding-top: 2rem;
  border-top: solid thin grey;
}
