/* Customize views. */

/* Lessons admin list */
.view-lessons-administration .views-field-changed {
  min-width: 10rem;
}

.view-header {
  margin-bottom: 2rem;
}

.view-filters.form-group {
  border-top: 1px solid #ddd;
  padding-top: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}

/* Lessons list for students. */
#view-field-order-in-book-table-column {
  text-align: center;
}
.views-field-field-order-in-book {
  text-align: center;
}

.view-character-grid-header-list {
  padding: 1rem;
  border: thin lightgrey solid;
}

.view-character-grid-header-list .view-header {
  margin-bottom: 0;
}
