.skilling-when-due, .skilling-required, .skilling-max-subs, .skilling-num-subs {
  margin-left: 1rem;
  font-size: small;
}

.skilling-insert-exercise-attribs {
  margin-top: -0.8rem;
  margin-bottom: 0.2rem;
}

.skilling-insert-exercise-attribs span {
  display: inline-block;
  width: 12rem;
}
