/*
Styles for fill-in-the-blank.
*/

.skilling-insert-fib {
  padding: 1rem;
  border-width: thin;
  border-style: solid;
  border-radius: 4px;
  background-color: transparent;
  margin: 2rem;
}

.skilling-insert-fib-legend {
  border-bottom: none;
  margin-bottom: 0;
  width: auto;
  font-size: 1rem;
  float: right;
}

.skilling-insert-fib legend.skilling-insert-fib-legend span {
  border-width: thin;
  border-style: solid;
  border-radius: 4px;
  padding: 0.2em;
}

.skilling-insert-pattern-insert-situation,
.skilling-insert-pattern-insert-actions {
  margin-bottom: 1em;
}

.skilling-insert-fib-title {
  font-size: 120%;
  margin-top: 0;
  margin-bottom: 1em;
}

.skilling-insert-fib .skilling-insert-fib-body {
  margin-left: 2em;
}

.skilling-insert-fib .skilling-insert-fib-response-container {
  margin-top: 1em;
}

.skilling-insert-fib .skilling-fib-response-message {
  display: none;
  padding: 1em;
  border-radius: 10px;
  margin: 2em;
  border-width: 2px;
  border-style: solid;
}
