<template>
  <vertical-splitter :min="10" :percent="30">
    <div slot="top-pane">
      <vue-good-table
          :columns="columns"
          :rows="displayRows"
          sortable="false"
          styleClass="table table-bordered table-striped cyco-feedback-submissions-list"
          :onClick="clickedRow"
          :key="rerenderKey"
      >
        <template slot="table-row"
                  scope="props">
          <!--<td>{{ props.row.submissionId }}</td>-->
          <td v-if="submissionGraded(props.row.submissionId)" :id="'submission' + props.row.submissionId"
              class="submission-graded"
          >{{ props.row.when }}</td>
          <td v-else :id="'submission' + props.row.submissionId"
          >{{ props.row.when }}</td>

<!--          <td :id="'submission' + props.row.submissionId"-->
<!--              :class="`${submissionGraded(props.row.submissionId) ? 'submission-graded' : 'buttz'}`"-->
<!--          >{{ props.row.when }}</td>-->
          <td :class="submissionRowClass(props.row.submissionId)"
          >{{ props.row.name }}</td>
          <td :data-exercise-id="props.row.eid"
              :class="submissionRowClass(props.row.submissionId)"
          >{{ props.row.exercise }}</td>
          <!--              :class="{ 'submission-graded': submissionGraded(props.row.submissionId) }"-->
          <td :data-submission-version="props.row.version"
              :class="submissionRowClass(props.row.submissionId)"
          >{{ props.row.version }}</td>
          <td
              :class="submissionRowClass(props.row.submissionId)"
          >{{ props.row.classLabel }}</td>
        </template>
      </vue-good-table>
    </div>
    <div slot="bottom-pane">
      <horizontal-splitter :min="10" :percent="70">
        <div slot="left-pane">
          <vertical-splitter :min="10" :percent="30">
            <div slot="top-pane">
              <horizontal-splitter :min="10">
                <div slot="left-pane" id="exercise-pane-container"
                     :class="{'disabled-look':submissionGraded(this.submissionIdWorkingOn)}"
                >
                  <div class="cyco-pane-header">Exercise</div>
                          <exercise-pane
                              :submissionId="submissionIdWorkingOn"
                          ></exercise-pane>
                </div>
                <div slot="right-pane"
                     :class="{'disabled-look':submissionGraded(this.submissionIdWorkingOn)}"
                     id="submission-pane-container"
                >
                  <div class="cyco-pane-header">Submission</div>
                  <div class="cyco-pane-content">
                      <submission-pane
                          :submissionId="submissionIdWorkingOn"
                      ></submission-pane>
                  </div>
                </div>
              </horizontal-splitter>
            </div>
            <div slot="bottom-pane" id="feedback-pane-container">
              <div class="cyco-pane-header">Feedback</div>
              <div>
                <feedback-pane
                    :submissionId="submissionIdWorkingOn"
                    :generatedFeedback="generatedFeedback"
                    :submissionGraded="submissionGraded(this.submissionIdWorkingOn)"
                    @graderTypedKeyboardKey="graderTypedKeyboardKey"
                ></feedback-pane>
              </div>
            </div>
          </vertical-splitter>
        </div>
        <div slot="right-pane" id="rubric-items-pane-container">
          <rubric-items-pane
              v-if="submissionIdWorkingOn != 0"
              :submissionId="submissionIdWorkingOn"
              :submissionGraded="submissionGraded(this.submissionIdWorkingOn)"
              @clickedGenerateFeedback="clickedGenerateFeedback"
              @sendMessageClicked="appSendMessageClicked"
              :graderTypedKey="graderTypedKey"
          ></rubric-items-pane>
        </div>
      </horizontal-splitter>
    </div>
  </vertical-splitter>
</template>

<script>

  var rowClickedOn;

  //  import Store from './store';
  //  import VueStrap from 'vue-strap';
  import Vue from 'vue';
  import HorizontalSplitter from './components/HorizontalSplitter.vue';
  import VerticalSplitter from './components/VerticalSplitter.vue';
  import VueGoodTable from 'vue-good-table'; //'./components/VueGoodTable.vue';
  Vue.use(VueGoodTable);
  import ExercisePane from './components/ExercisePane.vue';
  import ExerciseNotesPane from './components/ExerciseNotesPane.vue';
  import SubmissionPane from './components/SubmissionPane.vue';
  import GraderFiles from "./components/GraderFiles.vue";
  import RubricItemsPane from './components/RubricItemsPane.vue';
  import FeedbackPane from './components/FeedbackPane.vue';
  export default {
    name: 'app',
//    store: Store,
    components: {
      HorizontalSplitter,
      VerticalSplitter,
      ExercisePane,
      ExerciseNotesPane,
      SubmissionPane,
      GraderFiles,
      RubricItemsPane,
      FeedbackPane,
    },
    data() {
      return {
        rerenderKey: 0,
        columns: [
         // {
         //   label: 'Id',
         //   field: 'submissionId',
         //   type: 'text',
         //   html: false,
         // },
          {
            label: 'When',
            field: 'when',
            type: 'text',
            html: false,
          },
          {
            label: 'Name',
            field: 'name',
            type: 'text',
            html: false,
            filterable: true,
          },
          {
            label: 'Exercise',
            field: 'exercise',
            type: 'text',
            html: false,
            filterable: true,
          },
          {
            label: 'Version',
            field: 'version',
            type: 'text',
            html: false,
            filterable: true,
          },
          {
            label: 'Class',
            field: 'classLabel',
            type: 'text',
            html: false,
            filterable: true,
          },
        ],
        css: {
          table: {
            tableClass: 'table table-bordered table-striped table-hover',
            ascendingIcon: 'glyphicon glyphicon-chevron-up',
            descendingIcon: 'glyphicon glyphicon-chevron-down'
          },
        },
//        exerciseDescription: "",
//        exerciseNotes: "",
//        submittedContent: "",
        displayRows: [],
//        rubricItems: [],
//        exerciseCompleted: false,
        submissionIdWorkingOn: 0,
        generatedFeedback: {
          type: String,
          default: '',
        },
        graderTypedKey:false,
      };
    },
   computed: {
   },
    methods: {

      graderTypedKeyboardKey(){
        this.graderTypedKey = true;
      },
      /**
       * Grader clicked Create feedback in rubric item pane.
       * Feedback is passed up to this component.
       */
      clickedGenerateFeedback(generatedFeedback) {
        //Remember the new feedback.
        //Send to editor pane, through a property.
        this.generatedFeedback = generatedFeedback;
      },
      /**
       * Grader clicked a row in the table of submissions.
       */
      clickedRow: function(row){
        // console.log('clickedRow');
        rowClickedOn = row;
        //Load rubric items.
        let exerciseId
              = window.submissions[row.submissionId].exerciseId;
        let rubricItemIds = window.exercises[exerciseId].rubricItemIds;
        let that = this;
        //Get items from server.
        loadRubricItems(rubricItemIds)
            .done(function(){
              that.submissionIdWorkingOn = row.submissionId;
              //Remove other row highlights.
              $("table.cyco-feedback-submissions-list tr")
                  .removeClass('selectedSubmission');
              //Highlight the row.
              $('#submission' + row.submissionId).closest('tr')
                  .addClass('selectedSubmission');
              //Adjust whether panels are showing already-graded classes.
              that.adjustPaneContainerClasses(row.submissionId);
              //Adjust CP and rubric item display when new submission chosen.
              that.$nextTick(function(){
                adjustDisplayRubricItemCp();
            });
        });
      },
      /**
       * Change classes on panel containers, depending on whether the
       * row's submission has been graded or not.
       */
      adjustPaneContainerClasses(submissionId) {
        // Has the submission been graded?
        let isGraded = this.submissionGraded(submissionId);
        if (isGraded) {
          $("#exercise-pane-container").addClass("disabled-look");
          $("#submission-pane-container").addClass("disabled-look");
          $("#feedback-pane-container").addClass("disabled-look");
          $("#rubric-items-pane-container").addClass("disabled-look");
          // $("#cyco-feedback-content-container").hide();
          // $("#cyco-rubrics-pane").hide();
        }
        else {
          $("#exercise-pane-container").removeClass("disabled-look");
          $("#submission-pane-container").removeClass("disabled-look");
          $("#feedback-pane-container").removeClass("disabled-look");
          $("#rubric-items-pane-container").removeClass("disabled-look");
          // $("#cyco-feedback-content-container").show();
          // $("#cyco-rubrics-pane").show();
        }
      },
      /**
       * From the server data, create data to show in the table.
       */
      createDisplaySubmissions() {
        window.submissions.forEach( submission => {
          let displayRow = {};
          displayRow.submissionId = submission.submissionId;
          displayRow.when = submission.when;
          let student = window.students[submission.studentId];
          displayRow.name = student.firstName + " " + student.lastName;
          displayRow.exerciseId = submission.exerciseId;
          let exercise = window.exercises[submission.exerciseId];
          displayRow.exercise = exercise.title;
          displayRow.version = submission.version;
          let classesLabels = '';
          let classLabel = '';
          let idsClassesStudentIsIn = window.students[submission.studentId].classesStudentIsIn;
          idsClassesStudentIsIn.forEach( (classId) => {
            // Grader might not have access to class that student is in.
            if (window.classes[classId]) {
              classLabel = window.classes[classId].name;
              if (classesLabels !== '') {
                classesLabels += ", "
              }
              classesLabels += classLabel;
            }
          });
          // let instructor = window.instructors[classStudentIsIn.instructorId];
          displayRow.classLabel = classesLabels;
          this.displayRows.push(displayRow);
        });
      },
      /**
       * User clicked Send message button in rubric item CP.
       * @param submissionId Submission id the send is for.
       */
      appSendMessageClicked(submissionId) {
        // console.log("appSendMessageClicked run");
        let submissionRow = $('td#submission' + submissionId).closest('tr');
        submissionRow.addClass("submission-graded");
        this.adjustPaneContainerClasses(submissionId);
        // this.$nextTick( () => {
        //   console.log('update from appSendMessageClicked');
        //   this.$forceUpdate();
        // });
        //this.rerenderKey += 1;
      },
      submissionGraded(submissionId){
        // console.log("submissionGraded start, sub id:", submissionId);
        let result;
        if ( submissionId === 0 ) {
          //Initial state. Grader hasn't begun work.
          result = false;
        }
        else {
          result = (window.submissions[submissionId].feedbackDate !== '');
        }
        // console.log('submissionGraded result: ', result);
        return result;
      },
      submissionRowClass(submissionId){
        // console.log("submissionRowClass run");
        if ( submissionId === 0 ) {
          //Initial state. Grader hasn't begun work.
          return '';
        }
        const graded = (window.submissions[submissionId].feedbackDate !== '');
        // console.log('submissionRowClass: graded: ', graded);
        const classToUse = graded ? "submission-graded" : "rosie";
        // console.log("classToUse ", classToUse);
        return classToUse;
      },
    },
    mounted() {
      this.createDisplaySubmissions();
    }
  }

</script>

<style>
  /* Exercise, feedback, and submission panes.  */
  /* Header */
  .cyco-pane-header {
    color: white;
    background-color: #337ab7;
    padding: 2px;
  }
  /* Content area (not for feedback pane) */
  .cyco-pane-content {
    padding: 2px;
  }

  table.table-bordered.cyco-feedback-submissions-list input {
    padding: .4rem;
    height: 28px;
  }
  table.table-bordered.cyco-feedback-submissions-list td {
    padding: .2rem;
  }
  table.table-bordered.cyco-feedback-submissions-list:not(.line-numbers) th {
    padding: .2rem;
  }
  .good-table .table-header {
    display: none;
  }
  .selectedSubmission {
    background-color: #ffff40 !important;
    color: #803009;
  }
  .disabled-look {
    background-color: lightgrey;
  }
  .submission-graded {
    text-decoration: line-through;
  }

</style>
