/*
Style the difficulty range widget.
*/

.skilling-difficulty-label {
  font-weight: bold;
}

table.skilling-difficulty-slider {
  border: 0;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
}

table.skilling-difficulty-slider #rating-bar {
  padding: 0;
  height: 1rem;
  background-color: #0a6eb4;
  position: relative;
}

table.skilling-difficulty-slider #rating-bar #rating-marker {
  position: absolute;
  display: none;
  color: lightsalmon;
  font-size: 180%;
  top: -1.5rem;
}

table.skilling-difficulty-slider #rating-bar:focus {
  outline: 2px dotted #aeb0b5;
  outline-offset: 3px;
}

table.skilling-difficulty-slider .skilling-difficulty-slider-legend td {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
  text-align: center;
  border: 0;
  padding-top: 0;
  background-color: transparent;
  vertical-align: top;
}
