/*span.fancytree-title {*/
/*  white-space: normal;*/
/*}*/

div.skilling-book-container ul {
  list-style-type:none;
  padding-left: 1rem;
}

div.skilling-book-container ul.first-layer {
  /*list-style-type:none;*/
  padding-left: 0;
}

div.skilling-book-container li {
  line-height: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

/* Link to lesson, no children. */
div.skilling-book-container li.no-submenu {
  /* color: magenta; */
  /*margin-left: 1rem;*/
  list-style-type: none;
  margin-left: 1.4rem;

}

div.skilling-book-container li.submenu {
  list-style-type: none;
  /*list-style-type: '+';*/
}



  /* Link that opens/closes child list. */
div.skilling-book-container li.submenu a.collapse-toggle {
  float: left;
  font-size: 150%; /* Larger hit target for touch */
}
/* Link to lesson that is a parent. */
div.skilling-book-container li.submenu {
  margin-left: 0;
}

div.skilling-book-container li.submenu a.collapse-toggle+a {
  /* color: yellow; */
  margin-left: 0.4rem;
}

div.skilling-book-container a {
  font-size: 0.9rem;
}

div.skilling-book-container a.current {
  font-weight: bold;
}

