.table-active {
  background-color: #F7FCFF;
}

#day-widget {
  width: 5rem;
}

#max-subs-widget {
  width: 5rem;
}

td.exercise-required {
  /*padding: 3px;*/
}

#exercise-required-widget-container label {
  font-weight: normal;
  display: inline;
}

td.exercise-required {
  text-align: center;
}
