{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}
{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
  <ul{{ attributes.addClass(['navbar-nav', 'mr-auto']) }}>
      {% for key, item in items %}
        {%
          set classes_list_item = [
            'nav-item',
            item.is_expanded ? 'dropdown',
          ]
        %}
        {# Added extra class to notices link. #}
        {%
          set classes_link = [
            'nav-item',
            'nav-link',
            item.is_expanded ? 'dropdown-toggle',
            item.is_collapsed ? 'dropdown-toggle',
            item.in_active_trail ? 'active',
            key == 'skilling.notices' ? 'skilling-notices-link',
          ]
        %}
        <li{{ item.attributes.addClass(classes_list_item) }}>
          {% if item.below %}
              {#Join classes into single string.#}
              {% set class_string = classes_link|join(' ') %}
              {#Compute the link's title attribute value.#}
              {% set link_title = item.title %}
              {% if item.url.options.attributes.title is defined %}
                {% set link_title = item.url.options.attributes.title %}
              {% endif %}
              <a href="#" class="{{ class_string }}" data-toggle="dropdown" title="{{ link_title }}">{{ item.title }}</a>
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% else %}
              {{ link(item.title, item.url, { 'class': classes_link }) }}
          {% endif %}
        </li>
      {% endfor %}
  </ul>
    {% else %}
<div class="dropdown-menu dropdown-menu-right">
  {% for item in items %}
    {%
      set classes_link = [
      'dropdown-item',
      item.is_expanded ? 'dropdown-toggle',
      item.is_collapsed ? 'dropdown-toggle',
      item.in_active_trail ? 'active',
    ]
    %}
    {{ link(item.title, item.url, { 'class': classes_link}) }}
    {% if item.below %}
      {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
    {% endif %}
  {% endfor %}
</div>
    {% endif %}
  {% endif %}
{% endmacro %}
