<div class='skilling-history-delete-all-confirm-container'>
    <p>{{ 'Number of history records: '|t }} {{ count }}</p>
    <p>{{ "Are you sure you want to delete all of the history records?"|t }}</p>
    <p><a href="{{ path('skilling_history.admin.delete_all_confirmed') }}">{{ "Yes - delete them all"|t }}</a> </p>
    <p><a href="{{ path('system.admin.skilling') }}">{{ "No - get me out of here!"|t }}</a> </p>
</div>
