.skilling-timeline-weeks {
  list-style-type: none;
  padding-left: 0;
}

.skilling-timeline-week {
  list-style-type: none;
  padding-left: 1rem;
  font-size: 80%;
}
.skilling-timeline-day-items {
  list-style-type: none;
  padding-left: 1rem;
}

.skilling-timeline-table {
  margin: auto;
  min-width: 200px;
}

.skilling-timeline-marker {
  width: 1rem;
  text-align: left;
  display: inline-block;
}

.skilling-timeline-table td {
  padding: 0 0 0 0.5rem;
  border-top: 0;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.skilling-timeline-table td:first-of-type {
  padding-left: 0;
}

tr.skilling-timeline-events-happen {
  border-top: dotted thin;
  border-bottom: dotted thin;
}

table.skilling-timeline-table {
  font-size: 80%;
}

table.skilling-timeline-table.table td {
  padding: 0;
}

.skilling-exercise-no-submission.is-past {
  font-weight: bold;
  font-style: italic;
}

.skilling-exercise-required {
  color: darkred;
  font-weight: bold;
  margin-left: 0.2rem;
}

.skilling-challenge-exercise {
  margin-left: 0.2rem;
}

.show-optional-container {
  font-size: small;
}

.skilling-exercise-not-complete {
}

.skilling-exercise-no-more-subs {
  text-decoration: line-through;
}

.skilling-timeline-today {
  margin-left: 0.2rem;
}

