.toolbar-icon-system-admin-skilling:before {
    background-image: url(cog.svg);
}
.toolbar-icon-system-admin-skilling:active:before,
.toolbar-icon-system-admin-skilling.is-active:before {
    background-image: url(cog.svg);
}

td.views-field,
th.views-field {
  vertical-align: top;
}

tr.paragraph-type--rubric-item-response.odd,
tr.paragraph-type--fill-in-the-blank-question-respo.odd {
    background-color: cornsilk;
    border-bottom: solid black thick;
}

tr.paragraph-type--rubric-item-response.even,
tr.paragraph-type--fill-in-the-blank-question-respo.even{
    background-color: aliceblue;
    border-bottom: solid black thick;
}

.ief-form-row.form-wrapper {
    border: 4px plum solid;
    border-radius: 4px;
    padding: 1rem;
}

.ief-form-bottom.form-wrapper {
    border: 4px darkcyan solid;
    border-radius: 4px;
    padding: 1rem;
}
