<template>
  <div>
    <div id="app">
      <exercise :exerciseId="exerciseId"></exercise>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import Vuex from "vuex";
import Exercise from "./components/Exercise.vue";

export default {
  name: 'App',
  components: {
    Exercise
  },
  computed: {
    exerciseId() {
      return this.$store.exerciseId;
    }
  },
  mounted() {
    // Load server data here.
    this.$store.dispatch('loadDataAction');
  }
}
</script>

<style>
#app {
  padding-bottom: inherit;
}
</style>
