/*
* Sets colors to define a coherent palette.
*
* Based on http://colorpalettes.net/color-palette-3659/
*
* In Skilling, the palette is called Biff. No particular reason why.
*
* Monochrome, with shades (or tints, or something) with four colors from dark to
* light, plus black and white.
*
* Colors from dark to light are:
*
* 4 - #475069 (when background, white text)
* 3 - #8e9fbb (when background, white text)
* 2 - #c3cee1 (when background, black/white text?)
* 1 - #ebf0f7 (when background, black text)
*/

.bg-dark {
  background-color: #475069 !important;
}

.navbar-dark .navbar-nav a.nav-item.nav-link {
  color: white;
}

.btn.btn-primary {
  background-color: #475069;
  border-color: #475069;
  color: white;
}

ul.fancytree-container {
  background-color: transparent;
  color: black;
}

span.fancytree-title {
  color: black;
}

.fancytree-plain span.fancytree-active span.fancytree-title,
.fancytree-plain span.fancytree-selected span.fancytree-title {
  background-color: transparent;
  color: black;
}

.fancytree-plain span.fancytree-active span.fancytree-title:hover,
.fancytree-plain span.fancytree-selected span.fancytree-title:hover {
  background-color: transparent;
  color: black;
}

.fancytree-plain span.fancytree-node:hover span.fancytree-title {
  background-color: transparent;
  border-color: #c3cee1;
}

table.fancytree-ext-columnview span.fancytree-node.fancytree-expanded {
  background-color: transparent;
  color: black;
}

.fancytree-plain.fancytree-container.fancytree-treefocus span.fancytree-active span.fancytree-title,
.fancytree-plain.fancytree-container.fancytree-treefocus span.fancytree-selected span.fancytree-title {
  background-color: transparent;
  border-color: #c3cee1;
  color: black;
}

table.fancytree-ext-table tbody tr.fancytree-active:hover,
table.fancytree-ext-table tbody tr.fancytree-selected:hover {
  background-color: transparent;
  color: black;
}

table.fancytree-ext-table.fancytree-treefocus tbody tr.fancytree-active {
  background-color: #839fbb;
  color: black;
}
table.fancytree-ext-table.fancytree-treefocus tbody tr.fancytree-selected {
  background-color: transparent;
  color: black;
}

.skilling-annotation-container {
  border-color: #c3cee1;
  margin: 2rem;
  background-color: white;
  overflow: auto;
}

.skilling-annotation-note {
  border-color: #c3cee1;
}

.skilling-annotation-warning {
  border-color: #900;
}

.skilling-annotation-warning .skilling-annotation-title {
  color: #900;
}

.skilling-annotation-check {
  background-color: lightyellow;
}

.skilling-annotation-cool {
  border-color: #c3cee1;
}

.skilling-annotation-cool .skilling-annotation-title {
  color: #060;
}

.skilling-parsing-error,
.skilling-option-error {
  background-color: #ff0;
  border-color: red;
}

.skilling-survey-link-container {
  background-color: #c3cee1;
  border-color: #c3cee1;
}

.skilling-error {
  color: red;
}

/* Background pattern adapted from Toptal Subtle Patterns */
.skilling-insert-character-container {
  border-color: #c3cee1;
  background-color: white;
}

.skilling-custom-tag-option-parse-error {
  background-color: yellow;
  border-color: #c3cee1;
}

.skilling-insert-exercise {
  border-color: #c3cee1;
}

/* FiB */

.skilling-insert-fib {
  border-color: #c3cee1;
  overflow: auto;
}

.skilling-insert-fib legend.skilling-insert-fib-legend span {
  border-color: #c3cee1;
  background-color: white;
}

.skilling-fib-response-explanation-correct {
  background-color: #d0ffd0;
  border-color: green;
}

.skilling-fib-response-explanation-incorrect {
  background-color: lightyellow;
  border-color: yellow;
}


/* MCQ */

.skilling-insert-mcq {
  border-color: #c3cee1;
  background-color: transparent;
  overflow: auto;
}

.skilling-insert-mcq-legend,
.skilling-insert-pattern-legend,
.skilling-insert-principle-legend,
.skilling-insert-exercise-legend,
.skilling-insert-model-legend {
  border-color: #c3cee1;
  background-color: white;
}

.skilling-mcq-response-label {
  color: white;
  background-color: black;
}

.skilling-mcq-response-explanation-correct {
  background-color: #d0ffd0;
  border-color: green;
}

.skilling-mcq-response-explanation-incorrect {
  background-color: lightyellow;
  border-color: yellow;
}

/* Reflect note */

.skilling-reflect-container {
  border-color: #c3cee1;
  background-color: transparent;
  overflow: auto;
}

.skilling-reflect-title {
  border-color: #c3cee1;
  background-color: white;
}

/* Progress */
.skilling-progress-message-template {
  border-color: #c3cee1;
}

/* Timeline */

/* Mark today on the calendar. */
.skilling-timeline-today {
  background-color: #475069;
  color: white;
  font-weight: bold;
  padding: 2px;
}

.skilling-insert-exercise,
.skilling-insert-model,
.skilling-insert-pattern,
.skilling-insert-principle {
  border-color: #c3cee1;
}

.figure {
  border-color: #c3cee1;
  overflow: auto;
}

.book-pager {
  border-top: thin solid #c3cee1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: thin solid #c3cee1;
}

.skilling-book-children-container {
  border-top: thin solid #c3cee1;
  padding-top: 0.5rem;
}

#skilling-toggle-right-sidebar,
#skilling-toggle-left-sidebar {
  color: #475069;
  background-color: white;
  border-color: white;
}
