/* Global styles for Skilling Bootstrap theme. */

code {
  color: #A41357;
  font-weight: bold;

}

/* High color ration against white. */
a {
  color: #004C9E;
}

/* From bootstrap4. Don't know what it does. */
a.tabledrag-handle .handle {
  display: table-cell;
}

.block-system-branding-block a {
  font-size: 200%;
}

.sidebar-container {
  margin: 0 0 10px 0;
  padding: 5px;
  /*border: thin solid;*/
  /*border-radius: 4px;*/
}

main {
  margin-top: 1rem;
}

#left-sidebar {
  padding-right: 0;
}

#right-sidebar {
  padding-left: 0;
}

.block header {
  font-size: 150%;
}

.sidebar-container-content .block {
  margin-bottom: 1rem;
}

.content-col {
  padding-left: 3rem;
  padding-right: 3rem;
}


/* Make nav container take the whole space. */
div.navbar-nav.mr-auto {
  flex-grow: 1;
}

/* Make nav container take the whole space. */
div.navbar-nav.mr-auto div.form-inline {
  display: flex;
  flex-grow: 1;
}

/* Make nav container take the whole space. */
div.navbar-nav.mr-auto div.form-inline div.region.region-navigation {
  display: flex;
  flex-grow: 1;
}

#block-skilling-bootstrap-main-menu {
}

.search-block-form {
  flex-grow: 1;
  text-align: right;
}

.form-item-description {
  font-size: small;
}


a.nav-item.nav-link:hover {
  /*color: white;*/
  text-decoration: underline;
}


/* Form on search results page. */

form#search-form div.form-type-search {
  float: left;
}

form#search-form input#edit-submit {
  float: left;
  margin-top: 1em;
  margin-left: 2rem;
}

form#search-form a#edit-help-link {
  display: block;
  clear: left;
}

#block-sidebarhiderblock {
  margin-bottom: 1rem;
}

/* Remove special background color for column table is sorted by. */
td.is-active {
  background-color: transparent !important;
}

footer div.border-top.container {
  padding-top: 1rem !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  font-size: small;
}

#left-sidebar {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: white black;
}

/* Add gap after tags field. */
.field--name-field-tags {
  margin-bottom: 1rem;
}

footer.container-fluid {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer.container-fluid > div {
  padding-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: small;
}

div.form-item label {
  font-weight: bold;
}

/* Submit files on popout submission form for students. */
details#edit-field-submitted-files summary {
  font-weight: bold;
}

.btn.btn-primary {
  font-weight: normal;
}

/* Items group that are part of a multivalued field. */
/*.field__items {*/
  /*margin-left: 2rem;*/
/*}*/

/* Individual items in group that are part of a multivalued field. */
.field__items .field__item .paragraph {
  border-bottom: solid thin #ccc;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.skilling-insert-exercise-links .submission-actions button {
  min-width: 10rem;
}

.skilling-insert-character-content ul,
.skilling-insert-character-content ol {
  list-style-position: inside;
}

.skilling-insert-exercise-links .submission-actions button {
  min-width: 10rem;
}

.book-pager:nth-child(2) {
  margin-top: 1rem;
}

.selfie-holder {
  float:right;
  margin-left:2rem;
  padding:1rem;
  border-radius:20px;
  border:thin lightgrey solid;
  background-color: aliceblue;
}
