/*
Styles for MCQs.
*/

.skilling-insert-mcq {
  padding: 1rem;
  border-width: thin;
  border-style: solid;
  border-radius: 4px;
  margin: 2rem;
}

.skilling-insert-mcq-response-active {
  margin-bottom: 1rem;
  cursor: pointer;
}

.skilling-insert-mcq-response-inactive {
  margin-bottom: 1rem;
}

.skilling-insert-mcq-response-inactive .skilling-mcq-response-label {
  background-color: lightgrey;
}



.skilling-insert-mcq-legend {
  margin-top: 0;
  margin-bottom: 0;
  width: auto;
  font-size: 1rem;
  float: right;
  border-width: thin;
  border-style: solid;
  border-radius: 4px;
  padding: 0.2em;
}

.skilling-mcq-response-label {
  display: inline-block;
  width: 2rem;
  border-radius: 4px;
  padding: 0.5rem;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}

.skilling-mcq-response-explanation {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid;
}

.skilling-mcq-response-explanation p {
  margin: 0.5rem;
}

.skilling-mcq-response-text {
  display: inline-block;
  margin-left: 2rem;
}

.skilling-mcq-response-explanation {
  display: none;
  margin-left: 4rem;
}

/* Give own positioning of the throbber. */
img.skilling-mcq-throbber {
  position: absolute;
  margin-top: -1rem;
  display: none;
}
