@media (max-width: 768px) {
  #block-sidebarhiderblock,
  #left-sidebar,
  #right-sidebar {
    /*display: none;*/
  }
}

#skilling-sidebar-hider {
  position: fixed;
  z-index: 1000;
  margin-top: 1rem;
}

#block-sidebarhiderblock {
  position: fixed;
  left: 0;
  width: 100%;
  margin-top: -1rem;
}

#skilling-toggle-right-sidebar,
#skilling-toggle-left-sidebar {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
}

#skilling-toggle-left-sidebar {
  left: 0;
}
#skilling-toggle-right-sidebar {
  right: 0;
}
#skilling-toggle-left-sidebar-arrow,
#skilling-toggle-right-sidebar-arrow {
  font-size: 150%; /* Larger hit target for touch */
}
