{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    {{ page.header }}
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
      <div class="navbar-nav mr-auto">
        <div class="form-inline">
          {{ page.navigation }}
        </div>
      </div>
    </div>
  </nav>
</header>

{% if page.sidebar_hider %}
    <div id="skilling-sidebar-hider" class="d-none d-md-block">
        {{ page.sidebar_hider }}
    </div>
{% endif %}

<main role="main" class="container-fluid">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  <div class="row">
    {% if page.sidebar_first %}
{#      <div class="col-md-2" id="left-sidebar">#}
      <div id="left-sidebar" class="col-sm-12 col-md-2 order-md-first">
        <div class="sidebar-container">
          <div class="sidebar-container-content">
            {{ page.sidebar_first }}
          </div>
        </div>
        <hr class="d-md-none">
      </div>
    {% endif %}
{#    <div class="col content-col">#}
    <div class="col-sm-12 col-md-8 order-sm-first order-first">
      {{ page.content }}
      <hr class="d-md-none">
    </div>
    {% if page.sidebar_second %}
      <div class="col-sm-12 col-md-2" id="right-sidebar">
        <div class="sidebar-container">
          <div class="sidebar-container-content">
            {{ page.sidebar_second }}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
    {% if jump_to_top %}
        {{ attach_library('skilling_bootstrap/jump-to-top') }}
        <button onclick="topFunction()" id="jump-to-top" title="{{ 'Go to top'|t }}">{{ 'Top'|t }}</button>
    {% endif %}

</main>

{% if page.footer %}
  <footer class="text-muted container-fluid">
      <div class="border-top">
          {{ page.footer }}
      </div>
  </footer>
{% endif %}
