<template>
  <div>
    <label>Applies to<br>
      <span>What exercises does this response apply to?</span>
    </label>
    <div v-if="appliesTo.length">
      <p class="exercise-applies-to"
        v-for="exercise in appliesTo" 
        :key="exercise.exerciseId"
      >
        {{ exercise.name }} 
        <span>
          <button class="button button--primary" type="button" title="Remove"
            @click.stop="removeExercise(exercise.exerciseId)">X</button>
        </span>
      </p>
    </div>
    <p v-else class="applies-to-all">(All exercises)</p>
    <div id="add-applies-to-container">
      <label for="selectControl">Add applies to</label>

      <select class="form-control"
        id="selectControl"
      >
        <option
          v-for="exercise in availableExercises"
          :key="exercise.exerciseId"
          :value="exercise.exerciseId"
        >
          {{ exercise.name }}
        </option>
      </select>
      <button id="add-applies-to" class="button button--primary" type="button" title="Add to list"
        @click="addExercise">+</button>
    </div>
  </div>
</template>

<script>
  export default {
    props: [
      // New options have the word New in them.
      "responseOptionId",
      // Array of exericses.
      "appliesTo"
    ],
    computed: {
      /**
       * Find exercises not applies to currently.
       */
      availableExercises() {
        // Get all of the exercises.
        let allExercises = this.$store.getters.getExercises();
        // Find exercises not currently in applied to.
        let result = [];
        for (let exercise of allExercises) {
          let foundIt = this.appliesTo.find(
            function (currentExercise) {
              return exercise.exerciseId == currentExercise.exerciseId;
            }
          );
          if (foundIt === undefined) {
            result.push(exercise);
          }
        }
        return result;
      },
      /**
       * Compute the id for the <select>. Used a few times.
       */
      selectControlId() {
        let id = 'new-exercise-applies-to' + this.responseOptionId;
        return id;
      }
    },
    methods: {
      removeExercise(exerciseToRemoveId) {
        // console.log("removeExercise exerciseToRemoveId", exerciseToRemoveId);
        let params = {
          responseOptionId: this.responseOptionId,
          exerciseId: exerciseToRemoveId
        };
        this.$store.dispatch("removeExerciseFromResponseOptionAppliesToAction", params);
      },
      addExercise() {
        let selectedId = jQuery("#selectControl").val();
        let newExercise = this.$store.getters.getExerciseById(selectedId);
        if (!newExercise) {
          // TODO: replace
          // ******** ERROR
          alert(`Bad exer id: ` + selectedId);
          return;
        }
        // Check if the exercise is already in the list.
        let checkResult = this.appliesTo.find(function(appliesToExercise){
          return appliesToExercise.exerciseId == selectedId;
        });
        if (checkResult !== undefined) {
          // TODO: replace
          // ******** ERROR
          alert(`Exercise "jQuery{newExercise.name}" already in list.`);
          return;
        }
        let params = {
          responseOptionId: this.responseOptionId,
          exerciseId: newExercise.exerciseId
        };
        this.$store.dispatch("addResponseOptionAppliesToAction", params);
      }
    }
  }
</script>

<style scoped>
  .applies-to-all {
    margin-left: 2rem;
  }
  .exercise-applies-to {
    border: solid lightgray thin;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  .exercise-applies-to span {
    float: right;
  }
  label {
    display: inline;
  }
  label span {
    font-size: small;
    font-weight: normal;
  }
  select {
    margin-left: 1rem;
  }
  #add-applies-to {
    float: right;
  }
</style>
