<template>
<div id="item-editor" tabindex="-1" role="dialog">
<!--  <div id="inner-container">-->
    <div class="modal-header">
      <h5 class="modal-title">Rubric item editor</h5>
    </div>
    <div class="body">
      <div id="rubric-item-name-container" class="form-group">
        <p class="container-label">
          <label for="rubric-item-name"><strong>Rubric item name</strong></label>
        </p>
        <p class="name-container">
          <input type="text" class="form-control" id="rubric-item-name"
          :value="rubricItem.name"
          @change="changeName()"
          aria-describedby="rubric-item-name-help"><br>
          <small id="rubric-item-name-help">
            E.g., Variable naming
          </small>
        </p>
      </div>
      <div id="categories-container" class="form-group">
        <p class="container-label">Categories</p>
        <p><small>Check the categories the item belongs to</small></p>
        <div class="category-check-container"
        v-for="category in rubricItemCategories"
        :key="category.categoryId"
        :categoryId="category.categoryId"
        >
          <input class="form-check-input" type="checkbox"
            :value="category.categoryId"
            :id="category.categoryId"
            :data-category-id="category.categoryId"
            :checked="testIfCategoryChecked(category.categoryId)"
            @change="categoryChanged"
          >
          <label class="form-check-label"
            :for="category.categoryId">
            {{ category.name }}
          </label>
        </div>
      </div>
      <div id="response-options-container" class="form-group">
        <p class="container-label">Response options<br>
        <div class="sortable-children">
          <view-add-edit-response-option
                  class="response-option-sortable"
            v-for="responseOption in getResponseOptions()"
            ref="responseOption"
            :key="responseOption.responseOptionId"
            :responseOption="responseOption"
            :rubricItemId="rubricItem.rubricItemId"
            v-on:delete-response-option="deleteResponseOption"
            v-on:move-response-option="moveResponseOption"
            v-on:disable-editing="disableResponseOptionEditing"
            v-on:enable-editing="enableResponseOptionEditing"
          ></view-add-edit-response-option>
        </div>
        <div>
          <button class="button button--primary skilling-small" type="button"
            title="Add a new response option to this rubric item"
            @click.stop="addResponseOption">Add</button>
        </div>
      </div>
      <div id="notes-container" class="form-group">
        <p class="container-label">
          <label for="notes"><strong>Notes</strong></label>
        </p>
        <p>
          <textarea
              id="notes"
              v-model="rubricItem.notes"
          ></textarea>
        </p>
<!--        <ckeditor-->
<!--                id="notes"-->
<!--                :editor="editor"-->
<!--                v-model="rubricItem.notes"-->
<!--                :config="editorConfig">-->
<!--        </ckeditor>-->
      </div>
    </div>
    <div id="footer">
      <button type="button" class="button button--primary skilling-small" @click="closeModal()" >Close</button>
    </div>
<!--  </div>-->
</div>
</template>

<script>
  import ViewAddEditResponseOption from "./ViewAddEditResponseOption.vue";

  export default {
    components: {
      ViewAddEditResponseOption
    },
    data() {
      return {
        numNewResponseOptionsCreated: 0,
        // editorConfig: {
        //   toolbar: [ 'bold', 'italic', '|', 'link' ]
        // }
      }
    },
    props: {
      rubricItem: Object,
    },
    computed: {
      /**
       * Get array of categories, sort by name.
       */
      rubricItemCategories() {
        let cats = this.$store.getters.getRubricItemCategories();
        cats.sort(
          (a, b) => {
            if (a.name < b.name) {
              return -1;
            }
            if (a.name > b.name) {
              return 1;
            }
            return 0;
          }
        );
        return cats;
      }
    },
    methods: {
      disableResponseOptionEditing() {
        // console.log("start disableResponseOptionEditing" );
        for(const index in this.$refs.responseOption) {
          const ro = this.$refs.responseOption[index];
          // console.log("ro", ro);
          ro.setEditable(false);
        }
        // console.log("end disableResponseOptionEditing");
      },
      enableResponseOptionEditing() {
        // console.log("start enableResponseOptionEditing");
        for(const index in this.$refs.responseOption) {
          const ro = this.$refs.responseOption[index];
          // console.log("ro", ro);
          ro.setEditable(true);
        }
        // console.log("end enableResponseOptionEditing");
      },
      closeModal() {
        this.$modal.hide('edit-form-modal');
      },
      moveResponseOption(params) {
        // console.log(" moveResponseOption params", params);
        this.$store.dispatch("moveResponseOptionAction", params)
            .then(window.eventBus.$emit(
                "rubric-item-response-option-moved",
                this.rubricItem.rubricItemId
            ));
        this.$forceUpdate();
      },
      /**
       * Get response option object for this rubric item.
       */
      getResponseOptions() {
        // console.log("start add edit getResponseOptions");
        // console.log("this.rubricItem.rubricItemId", this.rubricItem.rubricItemId);
        let responseOptions = this.$store.getters.getResponseOptionsForRubricItem(
          this.rubricItem.rubricItemId
        );
        // console.log("getResponseOptions responseOptions", responseOptions);
        return responseOptions;
      },
      /**
       * Get value of checked attribute of checkbox.
       * If RI has category, need to check the box.
       */
      testIfCategoryChecked(categoryIdToTest) {
        let findResult = this.rubricItem.categories.find(function(rubricItemCategoryId) {
          return rubricItemCategoryId == categoryIdToTest;
        });
        let result = "";
        if (findResult !== undefined) {
          result = "checked";
        }
        return result;
      },
      /**
       * Delete a response option
       */
      deleteResponseOption(responseOptionId) {
        // console.log("deleteResponseOption responseOptionId", responseOptionId);
        let params = {
          rubricItemId: this.rubricItem.rubricItemId,
          responseOptionId: responseOptionId
        };
        this.$store.dispatch("deleteResponseOptionFromRubricItemAction", params);
      },
      categoryChanged(event) {
        // console.log("categoryChanged called");
        let $checkBox = jQuery(event.target);
        // console.log("$checkBox", $checkBox);
        let categoryId = $checkBox.data("category-id");
        // console.log("categoryId", categoryId);
        let isChecked = $checkBox.get(0).checked;
        // console.log("isChecked", isChecked);
        // Add/remove from the rubric item.
        let params = {
          rubricItemId: this.rubricItem.rubricItemId,
          categoryId: categoryId,
          isChecked: isChecked
        };
        this.$store.dispatch("updateRubricItemCategoryAction", params);
      },
      changeName() {
        let newName = jQuery("#rubric-item-name").val();
        let params = {
          rubricItemId: this.rubricItem.rubricItemId,
          name: newName
        };
        this.$store.dispatch("updateRubricItemNameAction", params);
      },
      addResponseOption() {
        // Get clone of new option template.
        let newResponseOption = this.$store.getters.getNewResponseOptionTemplate();
        // Set a unique id for the new option.
        newResponseOption.responseOptionId = "new-ri-" + this.rubricItem.rubricItemId + "-ro-" + this.numNewResponseOptionsCreated;
        // console.log("addResponseOption newResponseOption", newResponseOption);
        this.numNewResponseOptionsCreated ++;
        // Ask store to make it.
        this.$store.dispatch("addResponseOptionAction", newResponseOption);
        // Add it to the current rubric item.
        let params = {
          rubricItemId: this.rubricItem.rubricItemId,
          responseOptionId: newResponseOption.responseOptionId
        };
        this.$store.dispatch("addResponseOptionIdToRubricItemAction", params);
      }
    },
    mounted() {
      // console.log("mounting add edit RI");
    }
  }
</script>

<style scoped>
  #item-editor {
    padding: 1rem;
  }
  #item-editor .body {
    margin: 1rem 0;
    max-height: 500px;
    overflow-y: auto;
  }
  .form-group {
    border: thin solid lightgrey;
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  .name-container {
    margin-bottom: 0;
  }
  label {
    display: inline;
    font-weight: normal;
  }
  .container-label {
    margin-top: 0;
    font-weight: bold;
  }
  .container-label small {
    font-weight: normal;
  }
  #notes {
    width: 100%;
  }
  #footer {
    text-align: right;
  }
</style>
