<template>
  <div>
    <p class="data-loading" v-if="!dataLoaded">Loading...</p>
    <div v-else>
      <p>
        <button class="button button--primary" type="button"
          title="Choose an existing rubric item for this exercise"
          @click.stop="chooseRubricItem">Choose</button>
<!--        <button class="button button&#45;&#45;primary" type="button"-->
<!--          title="Create a new rubric item"-->
<!--          @click.stop="createRubricItem">Create</button>-->
      </p>
      <p v-if="rubricItemsThisExercise.length == 0">
        No rubric items for this exercise. Yet.
      </p>
      <div id="rubric-item-list">
        <rubric-item-summary
          v-for="rubricItem in rubricItemsThisExercise"
          :rubricItem="rubricItem"
          :key="rubricItem.rubricItemId"
          v-on:remove-rubric-item="removeRubricItem"
          v-on:edit-rubric-item="editRubricItem"
        ></rubric-item-summary>
      </div>
      <p>
        <button class="button button--primary" type="button"
          title="Choose an existing rubric item for this exercise"
          @click.stop="chooseRubricItem">Choose</button>
<!--        <button class="button button&#45;&#45;primary" type="button"-->
<!--          title="Create a new rubric item"-->
<!--          @click.stop="createRubricItem">Create</button>-->
      </p>
    </div>
      <modal name="item-selector-modal"
             height="auto"
             :scrollable="false"
             :clickToClose="false"
             :draggable="false"
      >
        <item-selector></item-selector>
      </modal>
<!--    <div id="edit-form-modal-container">-->
      <modal name="edit-form-modal"
             height="auto"
             :scrollable="false"
             :clickToClose="false"
             :draggable="false"
      >
        <edit-rubric-item
              :rubricItem="rubricItemToEdit"
      ></edit-rubric-item>
      </modal>
<!--    </div>-->
  </div>
</template>

<script>
  import RubricItemSummary from "./RubricItemSummary.vue";
  import ItemSelector from "./ItemSelector.vue";
  import EditRubricItem from "./EditRubricItem.vue";
  import VModal from 'vue-js-modal';
  import Sortable from 'sortablejs'

  export default {
    data: function() {
      return {
        rubricItemToEdit: this.$store.getters.getNewRubricItemTemplate(),
        numNewRubricItemsCreated: 0,
      }
    },
    components: {
      RubricItemSummary, ItemSelector, EditRubricItem, VModal
    },
    computed: {
      dataLoaded() {
        const loaded = this.$store.getters.getDataLoaded();
        return loaded;
      },
      exerciseId() {
        const id = this.$store.getters.getCurrentExerciseId();
        // console.log("exercise computed exerciseId", id);
        return id;
      },
      rubricItemsThisExercise() {
        // console.log("start rubricItemsThisExercise");
        // console.log("this.$store", this.$store);
        const currentExerciseId = this.$store.getters.getCurrentExerciseId();
        // Displaying afore data has loaded, don't want to continue.
        if (currentExerciseId === null) {
          return [];
        }
        // console.log("rubricItemsThisExercise currentExerciseId", currentExerciseId);
        let rubricItems = this.$store.getters.getExerciseRubricItems(currentExerciseId);
        // console.log("rubricItemsThisExercise rubricItems", rubricItems);
        return rubricItems;
      },
      rubricItemIdsThisExercise() {
        // console.log("start rubricItemIds");
        // let exercise = this.$store.getters.getExerciseById(this.exerciseId);
        // console.log("this.$store", this.$store);
        const currentExerciseId = this.$store.getters.getCurrentExerciseId();
        // Displaying afore data has loaded, don't want to continue.
        if (currentExerciseId === null) {
          return [];
        }
        // console.log("rubricItemIdsThisExercise currentExerciseId", currentExerciseId);
        let rubricItemIds = this.$store.getters.getExerciseRubricItemIds(currentExerciseId);
        // console.log("rubricItemIds", rubricItemIds);
        return rubricItemIds;
      },
    },
    methods: {
      removeRubricItem(rubricItemId) {
        // console.log("start removeRubricItem");
        let params = {
          exerciseId: this.exerciseId,
          rubricItemId: rubricItemId
        };
        // console.log("removeRubricItem params", params);
        this.$store.dispatch("removeRubricItemFromExerciseAction", params);
      },
      chooseRubricItem() {
        this.$modal.show("item-selector-modal");
      },
      createRubricItem() {
        // console.log("createRubricItem");
        // Get clone of new item template.
        let newRubicItem = this.$store.getters.getNewRubricItemTemplate();
        // console.log("newRubicItem", newRubicItem);
        // Set a unique id for the new item.
        newRubicItem.rubricItemId = "new-ri-" + this.numNewRubricItemsCreated;
        this.numNewRubricItemsCreated ++;
        // Ask store to make it.
        this.$store.dispatch("addRubricItemAction", newRubicItem);
        // Add it to the current exercise.
        // console.log("this.exerciseId", this.exerciseId);
        let params = {
          exerciseId: this.exerciseId,
          rubricItemId: newRubicItem.rubricItemId
        };
        // console.log("params", params);
        this.$store.dispatch("addRubricItemIdToExerciseAction", params);
        this.$forceUpdate();
      },
      editRubricItem(rubricItemId) {
        // console.log("exercise call editRubricItem");
        // console.log("rubricItemId", rubricItemId);
        let rubricItem = this.$store.getters.getRubricItemById(rubricItemId);
        // console.log("rubricItem", rubricItem);
        // console.log("rubricItem.responseOptionIds", rubricItem.responseOptionIds);
        this.rubricItemToEdit = rubricItem;
        this.$modal.show("edit-form-modal");
      },
    },
    updated() {
      // console.log("mounting exer");
      let rubricItemList = document.getElementById("rubric-item-list");
      // console.log("rubricItemList", rubricItemList);
      new Sortable(rubricItemList, {
        // animation: 150,
        // ghostClass: 'blue-background-class'
      });
      return;
      // let el = jQuery(".sortable-children").get(0);
      // let sortable = Sortable.create(el);
      //
      // //Prevent dragged element form receiving click event.
      // jQuery(".sortable-children").sortable({
      //   start: function( event, ui ) {
      //     event.target.style.pointerEvents = 'none';
      //   },
      //   stop: function( event, ui ) {
      //     event.target.style.pointerEvents = 'auto';
      //   }
      // });
      // console.log("sortable-children", jQuery(".sortable-children"));
    },

  }
</script>

<style scoped>
  button {
    margin-right: 0.5rem;
  }
  .data-loading {
    font-size: 300%;
  }
</style>
