<template>
<div id="item-selector" tabindex="-1" role="dialog">
  <div class="header">
    <h5 class="title">Choose rubric items</h5>
  </div>
  <div class="body">
    <div id="category-checks-container">
      <p>Choose categories to limit items shown.</p>
      <div class="category-check-container"
      v-for="category in rubricItemCategories"
      :key="category.categoryId"
      :categoryId="category.categoryId"
      >
        <input type="checkbox"
          :value="category.categoryId"
          :id="'cat' + category.categoryId"
          :data-category-id="category.categoryId"
          @change="categoryClicked">
        <label class="form-check-label" :for="'cat' + category.categoryId">
          {{ category.name }}
        </label>
      </div>
    </div>
    <div id="rubric-item-list">
      <div v-if="getRubricItemsToDisplay().length">
        <p class="rubric-item-name"
          title="Add to exercise"
          v-for="rubricItem in getRubricItemsToDisplay()"
          :data-fake="fakeCounter"
          :key="rubricItem.rubricItemId"
          :data-rubric-item-id="rubricItem.rubricItemId"
          @click="rubricItemClick">
          {{ rubricItem.name }}
        </p>
      </div>
      <p v-else>
        No items matching your category choices that are not already
        attached to the exercise.
      </p>
    </div>
  </div>
  <div id="footer">
    <div id="fake-counter">Fake counter: {{ this.fakeCounter }}</div>
    <button type="button" class="button button--primary" @click="closeModal()">Close</button>
  </div>
</div>
</template>

<script>
  export default {
    data: function() {
      return {
        // Counter - change value to trigger refresh of item list.
        fakeCounter: 0
      }
    },
    computed: {
      exerciseId() {
        let exerciseId = this.$store.getters.getCurrentExerciseId();
        return exerciseId;
      },
      // exercise() {
      //   let exercise = this.$store.getters.getExerciseById(this.exerciseId);
      //   return exercise;
      // },
      /**
       * Get array of categories, sort by name.
       * 
       * Caused warning of possible infinite update loop.
       * Making a copy of the cats array 
       */
      rubricItemCategories() {
        // console.log("start rubricItemCategories in item selector");
        // console.log("this.exerciseId", this.exerciseId);
        let cats = this.$store.getters.getRubricItemCategories();
        cats.sort(function(a, b) {
          if (a.name < b.name) {
            return -1;
          }
          if (a.name > b.name) {
            return 1;
          }
          return 0;
        });
        return cats;
      }
    },
    methods: {
      closeModal() {
        this.$modal.hide('item-selector-modal');
      },
      /**
       * User wants to add rubric item to exercise.
       */
      rubricItemClick(event) {
        // console.log("rubricItemClick event", event);
        let rubricItemIdClicked = jQuery(event.target).data("rubric-item-id");
        let params = {
          exerciseId: this.exerciseId,
          rubricItemId: rubricItemIdClicked
        }
        this.$store.dispatch("addRubricItemIdToExerciseAction", params);
      },
      categoryClicked(event) {
        // console.log("categoryClicked this.fakeCounter", this.fakeCounter);
        this.fakeCounter ++;
      },
      /**
       * Which categories are checked?
       */
      getCategoriesCheckedIds() {
        let checkedIds = []
        jQuery(".category-check-container input").each(
          function(index, element){
            let $element = jQuery(element);
            let categoryId = $element.val();
            let checked = $element.prop("checked");
            if (checked) {
              checkedIds.push(categoryId);
            }
          }
        );
        return checkedIds;
      },
      getRubricItemsToDisplay() {
        // console.log("getRubricItemsToDisplay  in item selector this.exerciseId", this.exerciseId);
        // Get all the rubric items that exist.
        let allRubricItems = this.$store.getters.getRubricItems();
        // Remove rubric items being used for the exercise.
        const currentExerciseId = this.$store.getters.getCurrentExerciseId();
        let usedRubricItems = this.$store.getters.getExerciseRubricItemIds(currentExerciseId);
        let rubricItems = [];
        for (let rubricItem of allRubricItems) {
          let foundIt = usedRubricItems.find(
            function(usedId) {
              return rubricItem.rubricItemId == usedId;
            }
          );
          if (foundIt === undefined) {
            rubricItems.push(rubricItem);
          }
        }
        let checkedCatetoryIds = this.getCategoriesCheckedIds();
        // console.log("checkedCatetoryIds", checkedCatetoryIds);
        let rubricItemsToShow = [];
        // Were any ids checked?
        if (checkedCatetoryIds.length === 0) {
          // Nothing checked, so return all that remain.
          rubricItemsToShow = rubricItems;
        }
        else {
          // Something checked. 
          // Keep rubric items in categories that were checked.
          // Loop across rubric items.
          for (let rubricItemIndex = 0; rubricItemIndex < rubricItems.length; rubricItemIndex++) {
            // Grab an RI for testing.
            let rubricItemBeingTested = rubricItems[rubricItemIndex];
            // console.log("rubricItemBeingTested", rubricItemBeingTested);
            // console.log("rubricItemBeingTested id", rubricItemBeingTested.rubricItemId);
            let rubricItemBeingTestedCategories = rubricItemBeingTested.categories;
            // console.log("rubricItemBeingTestedCategories", rubricItemBeingTestedCategories);
            // Flag to show whether to keep this RI. Assume no to start.
            let keepRubricItem = false;
            if (rubricItemBeingTestedCategories.length > 0) {
              // The RI has categories.
              // Is one of them in the list of category ids that is checked?
              let foundCatToCheckFor = false;
              // console.log("Loop over item being tested cats");
              for (let rubricItemBeingTestedCategory of rubricItemBeingTestedCategories) {
                // console.log("rubricItemBeingTestedCategory", rubricItemBeingTestedCategory);
                let foundCatToCheckFor = false;
                for (let index = 0; index < checkedCatetoryIds.length; index++) {
                  // console.log("checkedCatetoryIds[index]", checkedCatetoryIds[index]);
                  // let match = checkedCatetoryIds[index] == rubricItemBeingTestedCategory;
                  // console.log("match", match);
                  if (checkedCatetoryIds[index] == rubricItemBeingTestedCategory) {
                    foundCatToCheckFor = true;
                    break;
                  }
                }
                // console.log("foundCatToCheckFor", foundCatToCheckFor);
                if (foundCatToCheckFor) {
                  keepRubricItem = true;
                  break;
                }
              }
            }
            // console.log("keepRubricItem", keepRubricItem);
            // Keep this rubric item?
            if (keepRubricItem) {
              rubricItemsToShow.push(rubricItemBeingTested);
            }
          } // End loop across RIs.
        } // End at least one checkbox was checked.
        // Sort rubric items by name.
        rubricItemsToShow.sort(
          (a, b) => {
            if (a.name < b.name) {
              return -1;
            }
            if (a.name > b.name) {
              return 1;
            }
            return 0;
          }
        );
        // Show them.
        return rubricItemsToShow;
      }

    }
  }
</script>

<style scoped>
  #item-selector {
    padding: 1rem;
  }
  #item-selector .body {
    margin: 1rem 0;
    max-height: 500px;
    overflow-y: auto;
  }
  #category-checks-container, #rubric-item-list {
    border: thin solid lightgrey;
    padding: 1rem;
    display: inline-block;
    vertical-align: top;
    width: 40%;
  }
  label {
    display: inline;
    font-weight: normal;
  }

  .rubric-item-name {
    background-color: #edede8;
    border-radius: 4px;
    cursor: pointer;
    padding: 1rem 0 1rem 1rem;
  }
  #fake-counter {
    color: white;
    font-size: 2px;
  }
  #footer {
    clear: both;
    text-align: right;
  }
</style>
