<template>
  <div class="rubric-item" :data-rubric-item-id="rubricItem.rubricItemId">
    <p class="rubric-item-header"
      @click.stop.prevent="toggleBody"
      :data-body="'#ri-' + rubricItem.rubricItemId"
      title="Click to show/hide rubric item deets">
      {{ name }}
      <span class="rubric-summary-controls">
        <button type="button" title="Edit"
          class="button button--primary"
          @click.stop="editRubricItem">Edit</button>
        <button type="button" title="Remove"
          class="button button--primary"
          @click.stop="removeRubricItem">X</button>
      </span>
    </p>
    <div class="rubric-item-body hide-on-load" :id="'ri-' + rubricItem.rubricItemId">
        <p>Categories: {{ categoryNames }}</p>
        <p>Notes:</p>
        <p class="notes" v-html="notes"></p>
        <p>Responses</p>
        <p v-if="getCountAllResponseOptions() == 0">
          (No response options for this rubric item)
        </p>
        <div v-else>
          <p v-if="getResponseOptionsDoNotApply().length > 0">
            <span class="not-applies-to">Response does not apply to this exercise</span>
          </p>
          <ul>
            <li
              v-for="responseOption in getResponseOptionsApply()"
              :key="responseOption.responseOptionId"
              v-html="responseOption.name"
              >
            </li>
            <li
              v-for="responseOption in getResponseOptionsDoNotApply()" 
              :key="responseOption.responseOptionId"
              v-html="responseOption.name"
              class="not-applies-to"
              >
              {{ responseOption.name }} *
            </li>
          </ul>

        </div>
      </div>
  </div>
</template>

<script>
  export default {
    props: [
      'rubricItem',
      'exerciseId'  // The exercise this display is for.
                    // Some RI responses are not used with some exercises.
    ],
    computed: {
      name() {
        // console.log("name in rubric item summary this.exerciseId", this.exerciseId);
        // let rubricItem = this.$store.getters.getRubricItemById(this.rubricItemId);
        return this.rubricItem.name;
      },
      notes() {
        // let rubricItem = this.$store.getters.getRubricItemById(this.rubricItemId);
        let notes = this.rubricItem.notes;
        if (notes === null || notes.trim().length === 0) {
          notes = "(None)"
        }
        return notes;
      },
      categories() {
        // let rubricItem = this.$store.getters.getRubricItemById(this.rubricItemId);
        let categoryIds = this.rubricItem.categories;
        let categoryList = [];
        for (const categoryId of categoryIds) {
          const category = this.$store.getters.getRubricItemCategoryById(categoryId);
          categoryList.push(category);
        }
        return categoryList;
      },
      categoryNames() {
        // let rubricItem = this.$store.getters.getRubricItemById(this.rubricItemId);
        let catNames = [];
        for (let categoryId of this.rubricItem.categories) {
          let category = this.$store.getters.getRubricItemCategoryById(categoryId);
          catNames.push(category.name);
        }
        // No categories.
        if (catNames.length === 0) {
          catNames.push("(None set)")
        }
        let result = catNames.join(", ");
        return result;
      },
      responseOptionIds() {
        // let rubricItem = this.$store.getters.getRubricItemById(this.rubricItemId);
        return this.rubricItem.responseOptionIds;
      }
    },
    methods: {
      toggleBody(event) {
        // console.log("toggleBody event", event);
        let $clickedThing = jQuery(event.target);
        let bodySelector = jQuery($clickedThing).data("body");
        jQuery(bodySelector).toggle();
      },
      removeRubricItem() {
        // let rubricItem = this.$store.getters.getRubricItemById(this.rubricItemId);
        let name = this.rubricItem.name;
        let message = `Remove the rubric item "${name}" from this exercise?`;
        if (confirm(message)) {
          this.$emit("remove-rubric-item", this.rubricItem.rubricItemId);
        }
      },
      editRubricItem() {
        this.$emit("edit-rubric-item", this.rubricItem.rubricItemId);
      },
      /**
       * Get response options that apply to the current exercise.
       */
      getResponseOptionsApply() {
        let responseOptions = this.getResponseOptions(true);
        // console.log("getResponseOptionsApply", responseOptions);
        return responseOptions;
      },
      /**
       * Get response options that do not apply to the current exercise.
       */
      getResponseOptionsDoNotApply() {
        let responseOptions = this.getResponseOptions(false);
        // console.log("getResponseOptionsDoNotApply", responseOptions);
        return responseOptions;
      },
      getCountAllResponseOptions() {
        const countResponsesThatApply = this.getResponseOptions(true).length;
        const countResponsesThatDoNotApply = this.getResponseOptions(false).length;
        const totalResponses = countResponsesThatApply + countResponsesThatDoNotApply;
        return totalResponses;
      },
      /**
       * Get response options for the exercise. 
       * 
       * @param {boolean} wantAppliesTo
       *   If true, get ROs that apply to the exercise, else get ROs that don't apply.
       * @returns {array} Response options 
       */
      getResponseOptions(wantAppliesTo) {
        let currentExerciseId = this.$store.getters.getCurrentExerciseId();
        // let rubricItem = this.$store.getters.getRubricItemById(this.rubricItemId);
        // console.log("getResponseOptions rubricItem", rubricItem);
        let responseOptionIds = this.rubricItem.responseOptionIds;
        // console.log("getResponseOptions responseOptionIds", responseOptionIds);
        let responseOptionList = [];
        for (let responseOptionId of responseOptionIds) {
          let responseOption = this.$store.getters.getResponseOptionById(responseOptionId);
          // console.log("getResponseOptions responseOption", responseOption);
          // Does the option apply to this exercise?
          let isAppliesToExercise = true;
          let appliesToExerciseIds = responseOption.appliesToExerciseIds;
          // console.log("getResponseOptions appliesToExerciseIds", appliesToExerciseIds);
          // Are the items in the list? If not, applies.
          if (appliesToExerciseIds.length > 0) {
            // Check whether exercise display is for is in the list.
            let valueFound = appliesToExerciseIds.find(function(exerciseIdInList){
              return exerciseIdInList == currentExerciseId;
            });
            if (valueFound === undefined) {
              // Exercise display is for is not in the list.
              isAppliesToExercise = false;
            }
          }
          if (wantAppliesTo && isAppliesToExercise) {
            responseOptionList.push(responseOption);
          }
          if (!wantAppliesTo && !isAppliesToExercise) {
            responseOptionList.push(responseOption);
          }
        }
        return responseOptionList;
      },
    },
    created() {
      window.eventBus.$on("rubric-item-response-option-moved", (updatedRubricItemId) => {
        // console.log("EB updated id", updatedRubricItemId);
        // console.log("EB my id", this.rubricItem.rubricItemId);
        if (this.rubricItem.rubricItemId == updatedRubricItemId) {
          this.$forceUpdate();
        }
      });
    }
  }
</script>

<style scoped>
  .rubric-item {
    margin-bottom: 1rem;
  }
  .rubric-item-header {
    background-color: #edede8;
    border-radius: 4px;
    cursor: move;
    padding: 1rem 0 1rem 1rem;
    margin-bottom: 0;
  }
  .rubric-item-body {
    padding: 1rem;
    border: thin solid lightgray;
  }
  .not-applies-to {
    font-style: italic;
  }
  .notes {
    margin-left: 2rem;
  }
  .rubric-summary-controls {
    float: right;
  }
  .rubric-summary-controls button {
    margin-left: 0.5rem;
  }
  .hide-on-load {
    display: none;
  }
</style>
