<template>
  <div>
    <!-- <p>Display mode: {{ displayMode }} </p> -->
    <div v-if="displayMode == 'view'" 
      class="response-option-display"
      :data-response-option-id="responseOption.responseOptionId"
    >
      <!-- Display the response option. -->
      <div class="response-option">
        <div class="response-option-header"
        >
          <div v-html="responseOption.name"
               class="response-option-name"
               :id="'response-option-' + responseOption.responseOptionId + '-name'"
               title="Click to show/hide response option deets"
               :data-body="'#response-option-' + responseOption.responseOptionId + '-body'"
          ></div>
          <div class="response-option-controls">
            <button class="button button--primary skilling-small" type="button" title="Move up"
                    @click.stop="moveUp">&#x2191;</button>
            <button class="button button--primary skilling-small" type="button" title="Move down"
                    @click.stop="moveDown">&#x2193;</button>
            <button class="button button--primary skilling-small" type="button" title="Edit"
              @click.stop="editMode"
              :disabled="!editEnabled">Edit</button>
            <button class="button button--primary skilling-small" type="button" title="Delete"
              @click.stop="deleteResponseOption">X</button>
          </div>
          <div v-if="!isResponseOptionAppliesToExercise()"
               class="not-applies-to-response-option">
            Does not apply to this exercise
          </div>
        </div>
        <div class="response-option-body hide-on-load"
          :id="'response-option-' + responseOption.responseOptionId + '-body'"
        >
          <div class="card-text">
          <p>
            Completes? 
            <span v-if="responseOption.completes">Yes</span>
            <span v-else>No</span>
            <br>
            <small>Does this response complete the rubric item?</small>
          </p>
          <p>Applies to
            <br>
            <small>What exercises does this response apply to?</small>
          </p>
          <ul v-if="responseOption.appliesToExerciseIds.length">
            <li v-for="exercise in listAppliesToExercises()" :key="exercise.exerciseId">
              {{ exercise.name }}
            </li>
          </ul>
          <p v-else class="applies-to-all">(All exercises)</p>
          <p>Notes</p>
          <p class="response-option-notes" v-if="responseOption.notes">{{ responseOption.notes }}</p>
          <p class="response-option-notes" v-else>(None)</p>
        </div>
      </div>
    </div>
  </div>

    <div v-else class="response-option-edit">
      <!-- Edit the response option. -->
      <div>
        <label for="response-text">Response text</label><br>
        <textarea
                id="response-text"
                v-model="responseOption.name"
                @change="changeName()"
                aria-describedby="response-text-help"
        ></textarea><br>
<!--        <ckeditor-->
<!--                id="response-text"-->
<!--                :editor="editor"-->
<!--                v-model="responseOption.name"-->
<!--                @change="changeName()"-->
<!--                aria-describedby="response-text-help"-->
<!--                :config="editorConfig">-->
<!--        </ckeditor>-->
        <small id="response-text-help" class="form-text text-muted">
          E.g., Good indenting! HTML, can have links.
        </small>
      </div>
      <div id="completes-container">
        <input class="form-check-input" 
          type="checkbox" 
          v-model="responseOption.completes"
          :id="'completed' + responseOption.responseOptionId"
          @change="completesChanged"
        >
        <label :for="'completed' + responseOption.responseOptionId">
          Completes rubric item?
        </label>
        <br>
            <small>Does this response complete the rubric item?</small>
      </div>
      <applies-to-exercises-widget
        :responseOptionId="responseOption.responseOptionId"
        :appliesTo="listAppliesToExercises()"
      ></applies-to-exercises-widget>
      <div id="notes-container">
        <label for="notes">Notes</label><br>
        <textarea
                id="notes"
                v-model="responseOption.notes"
                aria-describedby="notes-help"
        ></textarea>
        <small id="notes-help" class="form-text text-muted">
          Use HTML.
        </small>
<!--        <ckeditor-->
<!--                id="notes"-->
<!--                :editor="editor"-->
<!--                v-model="responseOption.notes"-->
<!--                :config="editorConfig">-->
<!--        </ckeditor>-->
      </div>
      <p class="done-button-container">
        <button class="button button--primary" type="button" title="Done"
          @click.stop="viewMode">Done</button>
      </p>
    </div>
  </div>
</template>

<script>
  import AppliesToExercisesWidget from "./AppliesToExercisesWidget.vue";

  export default {
    components: {
      AppliesToExercisesWidget
    },
    data: function() {
      return {
        displayMode: "view",
        editEnabled: true
        // editorConfig: {
        //   toolbar: [ 'bold', 'italic', '|', 'link' ]
        // }
      }
    },
    props: [
      "responseOption",
      "rubricItemId",
      "exerciseId",
      // "editEnabled"
    ],
    computed: {
    },
    methods: {
      setEditable(isEditable) {
        // console.log("setEditable", isEditable, this.responseOption.name);
        this.editEnabled = isEditable;
      },
      moveUp() {
        let params = {
          rubricItemId: this.rubricItemId,
          responseOptionId: this.responseOption.responseOptionId,
          direction: "up"
        };
        // console.log("moveUp params", params);
        this.$emit("move-response-option", params);
      },
      moveDown() {
        let params = {
          rubricItemId: this.rubricItemId,
          responseOptionId: this.responseOption.responseOptionId,
          direction: "down"
        };
        // console.log("moveDown params", params);
        this.$emit("move-response-option", params);
      },
      isResponseOptionAppliesToExercise() {
        let currentExerciseId = this.$store.getters.getCurrentExerciseId();
        // console.log("isResponseOptionAppliesToExercise this.exerciseId", this.exerciseId);
        // If applies to list is MT, then it applies.
        if (this.responseOption.appliesToExerciseIds.length === 0) {
          return true;
        }
        //Is current exercise in the applies to array?
        let foundIt = this.responseOption.appliesToExerciseIds.find(
          function (exerciseIdAppliesTo) {
            // console.log("exerciseIdAppliesTo", exerciseIdAppliesTo);
            return exerciseIdAppliesTo == currentExerciseId;
          }
        );
        // console.log("foundIt", foundIt);
        return foundIt ? true : false;
      },
      listAppliesToExercises() {
        // console.log("start listAppliesToExercises");
        let exercises = [];
        for (let exerciseId of this.responseOption.appliesToExerciseIds) {
          let exercise = this.$store.getters.getExerciseById(exerciseId);
          exercises.push(exercise);
        }
        // console.log("exercises", exercises);
        return exercises;
      },
      editMode() {
        // console.log("component edit mode");
        // console.log("this.editEnabled", this.editEnabled);
        this.$emit("disable-editing");
        this.displayMode = "form";
      },
      viewMode() {
        this.displayMode = "view";
        // console.log("component view mode");
        // console.log("this.editEnabled", this.editEnabled);
        this.$emit("enable-editing");
      },
      deleteResponseOption() {
        let name = this.responseOption.name;
        let message = `Delete the response option "${name}"?`;
        if (confirm(message)) {
          // console.log("this.responseOption.responseOptionId", this.responseOption.responseOptionId);
          this.$emit("delete-response-option", this.responseOption.responseOptionId);
        }        
      },
      completesChanged(event) {
        // console.log("completesChanged called");
        let $checkBox = jQuery(event.target);
        // console.log("$checkBox", jQuerycheckBox);
        let isChecked = $checkBox.get(0).checked;
        // console.log("isChecked", isChecked);
        // Set in data.
        let params = {
          responseOptionId: this.responseOption.responseOptionId,
          isChecked: isChecked
        };
        this.$store.dispatch("updateResponseOptionCompletesAction", params);
      },
      changeName() {
        let newName = jQuery("#response-text").val();
        let params = {
          responseOptionId: this.responseOption.responseOptionId,
          name: newName
        };
        this.$store.dispatch("updateResponseOptionNameAction", params);
      }
    },
    mounted() {
      // Attach event listener to toggle deets.
      // Don't use Vue, because the response is HTML, so click target is not something
      // Vue is aware of.
      const headerId = 'response-option-' + this.responseOption.responseOptionId + '-name';
      // console.log("headerId", headerId);
      document.getElementById(headerId).addEventListener("click", event => {
        event.stopPropagation();
        let toggleTarget = null;
        let $clickedThing = jQuery(event.target);
        let bodySelector = jQuery($clickedThing).data("body");
        if (!bodySelector) {
          // console.log("not found");
          let roNameElement = jQuery($clickedThing).closest("[data-body]");
          // console.log("roName", roNameElement);
          bodySelector = jQuery(roNameElement).data("body");
        }
        toggleTarget = jQuery(bodySelector);
        // console.log("toggleBody bodySelector", bodySelector);
        // console.log("toggleBody jQuery(toggleTarget)", jQuery(toggleTarget));
        jQuery(toggleTarget).toggle();
      }, true); // true means that capture phase will grab the event.
    }
  }
</script>

<style scoped>
  .hide-on-load {
    display: none;
  }
  .response-option-edit {
    border: solid lightgray thin;
    padding: 0.5rem;
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  .response-option {
    margin-bottom: 1rem;
  }
  .response-option-header {
    background-color: #edede8;
    border-radius: 4px;
    padding: 1rem 0 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr 150px;
  }
  .response-option-name {
    cursor: pointer;
    border: thin solid darkgray;
    border-radius: 4px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .not-applies-to-response-option {
    font-style: italic;
  }
  .response-option-controls {
    text-align: right;
    margin-right: 0.5rem;
  }
  #completes-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  /*.response-option-controls button {*/
  /*  margin-left: 0.5rem;*/
  /*}*/

  .response-option-notes {
    margin-left: 2rem;
    margin-bottom: 0;
  }

  .applies-to-all {
    margin-left: 2rem;
  }
  #notes-container {
    margin-top: 1rem;
  }
  label {
    display: inline;
  }
  /*#add-applies-to-container {*/
  /*  font-weight: normal;*/
  /*}*/
  /*.form-group {*/
  /*  border: thin solid lightgrey;*/
  /*  padding: 1rem;*/
  /*  border-radius: 4px;*/
  /*  margin-bottom: 1rem;*/
  /*}*/
  .done-button-container {
    text-align: right;
  }
  #notes {
    width: 100%;
  }
  .button.button--primary.skilling-small {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    padding: 4px .4em;
    margin-right: 0;
    margin-left: 0.5em;
  }
</style>
