 <div class='skilling-annotation-container {{ container_class }}'>
    <p class='skilling-annotation-title'>{{ title }}</p>
    <div class='skilling-annotation-content'>{{ content | raw }}</div>
</div>
