{% if badges|length == 0 %}
    <p>{{ "No badges earned yet."|t }}</p>
{% else %}
    {% for badge in badges %}
        <p>
            <a href="{{ badge.badgeUrl }}" title="{{ badge.title }}">
                <img src="{{ badge.imageUrl }}" alt="{{ badge.title }}">
            </a>
        </p>
    {% endfor %}
{% endif %}
