{# A set of links that look like buttons. #}
<div class="skilling-button-links-container">
    {% for link in links %}
        <a class="btn btn-primary" href="{{ link.url }}" title="{{ link.title }}">{{ link.caption }}</a>
    {% endfor %}
</div>
