<p>
    {{ 'Here are the captions defined for characters.'|t }}
</p>
<p><a href="{{ url('<front>') }}node/add/character">{{ 'Add'|t }}</a>{{ ' a new character.'|t }}</p>
<p><a href="{{ url('<front>') }}admin/skilling/characters/list">{{ 'Administer'|t }}</a>{{ ' characters.'|t }}</p>
<ul class="skilling-character-captions-list">
    {% for character_data in characters_links %}
        <li class="skilling-character-caption">
            <a href="{{ character_data.url }}">{{ character_data.caption }}</a>
        </li>
    {% endfor %}
</ul>
