<ul class="skilling-class-selector">
    {% for one_class in class_list %}
        {% if one_class.nid == current_class_nid %}
            <li class="skilling-class-selector-current-item">
                {{ one_class.title }} {{ '(current)'|t }}
            </li>
        {% else %}
            <li class="skilling-class-selector-item">
                <a href="{{ path('skilling.class_selection_controller_set_class') }}?nid={{ one_class.nid }}&destination={{ return_url }}">{{ one_class.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>