 <div class="skilling-code-container">
  {% if line_numbers %}
    <ol start="{{ start_number }}">
  {% else %}
    <ul>
  {% endif %}
  {% for line in content_lines %}
    <li><notextile>{{ line | raw }}</notextile></li>
  {% endfor %}
  {% if line_numbers %}
    </ol>
  {% else %}
    </ul>
 {% endif %}
</div>
