<label for="skilling-difficulty-slider" class="control-label skilling-difficulty-label">{{ 'Difficulty'|t }}</label>
<div class="js-text-full text-full help-block description"
     data-drupal-selector="edit-field-difficulty-0"
     id="edit-field-difficulty-0--description">{{ 'How easy or difficult was this exercise? (Required)'|t }}</div>
{#<input class="skilling-difficulty-slider" type="range" id="skilling-difficulty-slider"#}
       {#min="{{ min }}" max="{{ max }}" value="{{ value }}" step="{{ step_size }}"#}
       {#>#}
<table class="skilling-difficulty-slider">
    <tbody>
        <tr>
            <td id="rating-bar" colspan="7" tabindex="0" aria-describedby="edit-field-difficulty-0-value--description">
                <span id="rating-marker">⛊</span>
            </td>
        </tr>
        <tr class="skilling-difficulty-slider-legend">
            <td style="text-align:left;padding-left:0;">|<br>{{ 'Very<br>easy'|t }}</td>
            <td>|<br>{{ 'Easy'|t }}</td>
            <td>|<br>{{ 'Somewhat<br>easy'|t }}</td>
            <td>|<br>{{ 'Neither easy<br>nor hard'|t }}</td>
            <td>|<br>{{ 'Somewhat<br>hard'|t }}</td>
            <td>|<br>{{ 'Hard'|t }}</td>
            <td style="text-align:right;padding-right:0;">|<br>{{ 'Very<br>hard'|t }}</td>
        </tr>
    </tbody>
</table>
