{# Exercise submission links. #}
{{ attach_library('skilling/submissions-links') }}
<div class="skilling-insert-exercise-links" id="skilling-exercise-links-{{ exercise_nid }}">
    {% if submission_links.result == 'not_student' %}
        <span class="skilling-not-a-student">{{ 'If you were logged in as a student, you could submit a solution to this exercise.'|t }}</span>
        {% if show_exercise_link == 'yes' %}
          <a href="{{ path('entity.node.canonical', {'node': exercise_nid}) }}">{{ 'Exercise'|t }}</a>
        {% endif %}
    {% elseif submission_links.result == 'unpublished_submission' %}
        {{ 'Submissions have been disabled for you for this exercise. You might want to ask your instructor about it.'|t }}
    {% else %}
        {#<p class="skilling-insert-exercise-links-title">{{ 'Your work'|t }}</p>#}
        {# Show completion indicator. #}
        <div class="skilling-submission-complete-container">
            {% if submission_links.complete == 'true' %}
                <div class="skilling-submission-complete-badge" >
                    <img src="{{ submission_links.complete_badge_url }}" alt="Complete">
                    {{ 'Hooray! You completed the exercise!'|t }}
                </div>
            {% else %}
                {{ 'Exercise not yet completed.'|t }}
            {% endif %}
        </div>
        {# Show each of the submissions. #}
        {% for submission in submission_links.submissions %}
            <div class="skilling-insert-exercise-links-submission-container">
                {# Show version number of submission only when there is more then one. #}
                {% if submission_links.submissions|length > 1 %}
                    <p class="skilling-insert-exercise-links-version">
                        {{ 'Attempt'|t }} {{ submission.version }}
                    </p>
                {% endif %}
                {# Show the attempt's status. #}
                <p>
                    {{ 'Status:'|t }}
                    {% if submission.complete %}
                        {{ 'Submitted, feedback given, completed the exercise.'|t }}
                    {% elseif submission.waiting_for_feedback == 'true' %}
                        {{ 'Submitted, waiting for feedback.'|t }}
                    {% else %}
                        {{ 'Submitted, feedback given, did not complete exercise'|t }}
                    {% endif %}
                </p>
                {# Show what the student submitted. #}
                <div class="submission-actions">
                    <p>
                        <button class="btn btn-primary skilling-view-submission"
                                data-toggle="collapse"
                                href="#one-sub-submission-{{ exercise_nid }}-{{ submission.version }}"
                                data-submission-nid="{{ submission.submission_id }}"
                                role="button"
                                aria-expanded="false"
                                aria-controls="one-sub-submission-{{ exercise_nid }}-{{ submission.version }}">
                            {{ 'View submission'|t }}
                        </button>
                    </p>
                    <div id="one-sub-submission-{{ exercise_nid }}-{{ submission.version }}"
                         class="collapse skilling-exercise-collapsed-item">
                        {% if not submission.solution is empty %}
                            <p class="skilling-insert-exercise-solution-text-title">{{ 'Solution text'|t }}</p>
                            <div class="skilling-insert-exercise-solution-text">
                                {{ submission.solution|raw }}
                            </div>
                        {%  endif %}
                        {% if submission.files|length > 0 %}
                            <p class="skilling-insert-exercise-solution-files-title">{{ 'Solution files'|t }}</p>
                            {% for file in submission.files %}
                                <p class="skilling-insert-exercise-solution-file">
                                    <a href="{{ file.url }}"
                                       title="{{ 'View file'|t }}"
                                       target="_blank"
                                    >{{ file.name }}</a>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% if submission.is_feedback_given == 'true '%}
                        {# Show the feedback for the submission. #}
                        <p>
                            <button class="btn btn-primary btn-small skilling-view-feedback"
                                    data-toggle="collapse"
                                    href="#one-sub-feedback-{{ exercise_nid }}-{{ submission.version }}"
                                    data-submission-nid="{{ submission.submission_id }}"
                                    role="button"
                                    aria-expanded="false"
                                    aria-controls="one-sub-feedback-{{ exercise_nid }}-{{ submission.version }}">
                                {{ 'View feedback'|t }}
                            </button>
                        </p>
                        <div id="one-sub-feedback-{{ exercise_nid }}-{{ submission.version }}"
                             class="collapse skilling-exercise-collapsed-item">
                            {{ submission.feedback|raw }}
                            {% if submission.grader_attachments|length > 0 %}
                                <p class="skilling-insert-exercise-solution-files-title">{{ 'Grader attachments'|t }}</p>
                                {% for file in submission.grader_attachments %}
                                    <p class="skilling-insert-exercise-solution-file">
                                        <a href="{{ file.url }}"
                                           title="{{ 'View file'|t }}"
                                           target="_blank"
                                        >{{ file.name }}</a>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% else %}
                        {# Feedback not given. #}
                        {#<p class="skilling-insert-exercise-no-feedback-yet">#}
                            {#{{ 'Submitted, but no feedback yet.'|t }}#}
                        {#</p>#}
                        <p class="skilling-edit-submission-link-container">
                            <button class="skilling-edit-submission-link btn btn-primary"
                                    data-exercise-name="{{ internal_name }}"
                                    data-exercise-nid="{{ exercise_nid }}"
                                    data-submission-id="{{ submission.submission_id }}"
                                    data-version="{{ submission.version }}">
                                    {{ 'Edit submission'|t }}
                            </button>
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endfor %} {# End looping over submissions. #}
        {# Show create new submission link if not complete. #}
        {% if not submission_links.complete == 'true' and not submission_links.waiting_for_feedback == 'true' %}
            {% if submission_status == 'max reached' %}
                <p class="skilling-max-submissions-reached">
                    {{ 'You have reached the maximum number of submissions for this exercise.'|t }}
                </p>
            {% else %}
                <p class="skilling-add-submission-link-container">
                    <button class="skilling-add-submission-link btn btn-primary"
                       data-exercise-name="{{ internal_name }}"
                       data-exercise-nid="{{ exercise_nid }}"
                       data-version="{{ submission_links.highest_version_submitted + 1 }}"
                    >{% if submission_links.highest_version_submitted == 0 %}
                       {{ 'Submit solution'|t }}
                     {% else %}
                       {{ 'Submit a new solution'|t }}
                     {% endif %}</button>
                </p>
            {% endif %}
        {% endif %}
    {% endif %}
</div>
