<h4>Counts</h4>
{% if counts.problem_message %}
    <p>{{ counts.problem_message }}</p>
{% else %}
    <table class="skilling-exercise-counts">
        <thead style="table">
            <tr>
                <th></th>
                <th>Course totals</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="skilling-exercise-count-name">
                    {{ "Required"|t }}
                </td>
                <td class="skilling-exercise-count-number">
                    {{ counts.required_exercises }}
                </td>
                <td class="skilling-exercise-count-number">
                    {{ counts.required_exercises_completed }}
                </td>
            </tr>
            <tr>
                <td class="skilling-exercise-count-name">
                    {{ "Optional"|t }}
                </td>
                <td class="skilling-exercise-count-number">
                    {{ counts.optional_exercises }}
                </td>
                <td class="skilling-exercise-count-number">
                    {{ counts.optional_exercises_completed }}
                </td>
            </tr>
            <tr>
                <td class="skilling-exercise-count-name">
                    {{ "Challenge"|t }}
                </td>
                <td class="skilling-exercise-count-number">
                    {{ counts.challenge_exercises }}
                </td>
                <td class="skilling-exercise-count-number">
                    {{ counts.challenge_exercises_completed }}
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <a class="small" data-toggle="collapse" href="#counts-explained" aria-expanded="false" aria-controls="counts-explained">
            {{ "Help"|t }}
        </a>
    </p>
    <div class="collapse" id="counts-explained">
        <p>{{ "The first column says how many exercises of each type are in the course. The second column says how many of each type you have completed."|t }}</p>
        <p>{{ "Here's what the different counts are:"|t }}</p>
        <ul>
            <li>{{ "Required: You should do all of the required exercises. They're non-challenge exercises that are on the timeline."|t }}</li>
            <li>{{ "Optional: They don't count for any points, but help you practice. They're non-challenge exercises that are not on the timeline."|t }}</li>
            <li>{{ "Challenge: Challenge exercises help you earn badges, if there are any for your course. They may be on the timeline, but don't have to be."|t }}</li>
        </ul>
    </div>
{% endif %}
