<div class="skilling-insert-pattern" id="{{ internal_name }}">
    <div class="skilling-insert-pattern-legend">{{ 'Pattern'|t }}</div>
    <p class="skilling-insert-pattern-title">
        <a href="{{ path('entity.node.canonical', {'node': pattern_nid}) }}">{{ title }}</a>
    </p>
    <div class="skilling-insert-pattern-summary">{{ summary|raw }}</div>
</div>
