<div class="skilling-insert-principle" id="{{ internal_name }}">
    <div class="skilling-insert-principle-legend">{{ 'Principle'|t }}</div>
    <p class="skilling-insert-principle-title">
        <a href="{{ path('entity.node.canonical', {'node': principle_nid}) }}">{{ title }}</a>
    </p>
    <div class="skilling-insert-principle-summary">{{ summary|raw }}</div>
</div>
