{# Insert an exercise into content. #}
{# Internal name is used as a destination for some links. #}
{# Template used when inserting exercise by parser, or when showing exercise stand-alone. #}
{# The var out_of_plugin_context identifies the latter. #}
{{ attach_library('skilling/insert-exercise-styling') }}

<div class="skilling-insert-exercise" id="{{ internal_name }}">
    {% if not out_of_plugin_context %}
        <div class="skilling-insert-exercise-legend">{{ 'Exercise'|t }}</div>
    {% endif %}
    <p class="skilling-insert-exercise-title">
        {% if not out_of_plugin_context %}
            {{ title }}
        {% endif %}
        {% if challenge %}
            <img src="{{ challenge_image_url }}"
                 title="Challenge exercise"
                 alt="Challenge exercise"
            >
        {% endif %}
    </p>
    {% if required is null and max_subs is null and number_subs is null %}
    {% else %}
        <p class="skilling-insert-exercise-attribs">
            {% if due_date is not null %}
                <span
                    class="skilling-when-due"
                    title="{{ 'When is the exercise due?'|t }}"
                >
                    {% if due_date == -1 %}
                        {{ 'Exercise not on timeline'|t }}
                    {% else %}
                        {{ 'Due:'|t }} {{ due_date }}
                    {% endif %}
                </span>
            {% endif %}
            {% if max_subs is not null %}
                <span
                        class="skilling-max-subs"
                        title="{{ 'Number of tries you have to complete this exercise.'|t }}"
                >{{ 'Submissions limit:'|t }} {{ max_subs }}</span>
            {% endif %}
            <br>
            {% if required is not null %}
                <span
                        class="skilling-required"
                        title="{{ 'Is this exercise required?'|t }}"
                >{{ 'Required:'|t }} {{ required }}</span>
            {% endif %}
            {% if is_student and number_subs is not null %}
                <span
                    class="skilling-num-subs"
                    title="{{ 'Have many times you have tried this exercise so far.'|t }}"
                >{{ 'Your submissions:'|t }} {{ number_subs }}</span>
            {% endif %}
        </p>
    {% endif %}
    {% if not out_of_plugin_context %}
        <div class="skilling-insert-exercise-task">{{ task|raw }}</div>
    {% endif %}
    {% include '@skilling/exercise-submission-links.html.twig' with
        {
            'exercise_nid': exercise_nid,
            'internal_name': internal_name,
            'submission_links': submission_links,
            'show_exercise_link': show_exercise_link,
            'submission_status': submission_status
        }
    %}
</div>
