{# Reflect note template. Used by the ReflectTag plugin.

   The data attributes are used to send data about this reflect note instance
   to the JS that handles reflect notes. #}
<div class="skilling-reflect-container"
     id="{{ nid }}-{{ internal_name }}"
     data-identifier="{{ nid }}-{{ internal_name }}"
     data-user-is-student="{{ user_is_student }}"
     data-existing-note-length="{{ note|length }}"
>
    <div class="skilling-reflect-title">{{ title }}</div>
    <div class="skilling-reflect-content">{{ content|raw }}</div>
    {# Don't show reflect UI to non-students. Title and content still show. #}
    {% if user_is_student %}
        <p>
            {# No raw here. XSS. #}
            {#<textarea class="form-control" rows="4" maxlength="4000"#}
                      {#readonly onfocus="this.removeAttribute('readonly');"#}
            <textarea tabindex="0" class="form-control" rows="4" maxlength="4000">{{ note }}</textarea><img class="skilling-reflect-throbber"
                    src="{{ url('<front>') }}/core/misc/throbber-active.gif" alt="Saving">
            <br>
            <span class="skilling-form-instructions">{{ 'Text saves automatically.'|t }}</span>
            <br>
            <span class="skilling-form-instructions">{{ 'Not graded.'|t }}
            {{ popover('So why do it?', 'Why you should do this', 'Typing your thoughts helps you think more deeply, compared to just reading. You get more value from your learning time.') }}            {#<a href="#/" tabindex="0" role="button" data-trigger="focus"#}
            </span>
        </p>
        {# If there is already a note for the student, don't show the button
           that shows the following content. That content will be shown
           anyway. #}
        {% if note|length == 0 %}
            <button type="button" class="btn btn-primary skilling-reflect-continue"
                    title="Continue" disabled="disabled">Continue</button>
        {% endif %}
    {% else %}
        <em>{{ 'If you were logged in as a student, the lesson would pause here, and you\'d be asked to type in a response. If you want to try that out, ask for an account on this site.'|t }}</em>
    {% endif %}
</div>
