<div class="skilling-insert-mcq" id="{{ internal_name }}" data-nid="{{ mcq_nid }}">
    <fieldset>
        <legend class="skilling-insert-mcq-legend">
            <span>{{ 'Multiple choice'|t }}</span>
        </legend>
        <div class="skilling-insert-mcq-question">
            {{ question|raw }}<img class="skilling-mcq-throbber"
                    src="{{ url('<front>') }}/core/misc/throbber-active.gif" alt="Saving">
        </div>
        <div class="skilling-insert-mcq-responses-container">
            {% for response in responses %}
                <div class="skilling-insert-mcq-response-active " data-index="{{ response.index }}">
                    <div class="skilling-mcq-response-label">{{ response.label }}</div>
                    <div class="skilling-mcq-response-text">{{ response.response|raw }}</div>
                    <div class="skilling-mcq-response-explanation"></div>
                </div>
            {% endfor %}
        </div>
    </fieldset>
    <p>
    <span class="skilling-form-instructions">{{ 'Not graded.'|t }}
        {{ popover('So why do it?', 'Why you should do this', 'Recalling something improves your memory for it. You get more value from your learning time.') }}            {#<a href="#/" tabindex="0" role="button" data-trigger="focus"#}
            </span>
    </p>

</div>
