<div class="skilling-insert-model" id="{{ internal_name }}">
    <div class="skilling-insert-model-legend">{{ 'Model'|t }}</div>
    <p class="skilling-insert-model-title">
        <a href="{{ path('entity.node.canonical', {'node': model_nid}) }}">{{ title }}</a>
    </p>
    <div class="skilling-insert-model-summary">{{ summary|raw }}</div>
</div>
