<div class="skilling-insert-character-container" id="{{ internal_name }}">
    <div class="skilling-insert-character">
        <img src="{{ image_path }}" alt="{{ alt }}"><br>
        {{ caption }}
    </div>
    <div class="skilling-insert-character-content">
        {{ content|raw }}
    </div>
</div>
