<div class="skilling-insert-fib" id="{{ internal_name }}" data-nid="{{ fib_nid }}">
    <fieldset>
        <legend class="skilling-insert-fib-legend">
            <span>{{ 'Fill in the blank'|t }}</span>
        </legend>
        <p class="skilling-insert-fib-title">
            {{ title }}
        </p>
        <div class="skilling-insert-fib-question">
            {# Let authors put HTML in the question. #}
            {{ question|raw }}
        </div>
        <form class="skilling-insert-fib-response-container">
            <div class="form-group">
                {{ 'Your answer:'|t }}
                <input class="skilling-insert-fib-response form-control" type="text" size="20">
            </div>
            <button type="button" class="skilling-insert-fib-check-button btn btn-primary" title="{{ 'See if your answer is correct.'|t }}">{{ 'Check'|t }}</button>
            <button type="button" class="skilling-insert-fib-give-up-button btn btn-secondary" title="{{ 'Give up, and show the right answer.'|t }}">{{ 'Give up'|t }}</button>
            <img class="skilling-throbber"
                 src="{{ url('<front>') }}/core/misc/throbber-active.gif" alt="Saving">
            <br>
            <span class="skilling-form-instructions">{{ 'Not graded.'|t }}
                {{ popover('So why do it?', 'Why you should do this', 'Recalling something improves your memory for it. You get more value from your learning time.') }}            {#<a href="#/" tabindex="0" role="button" data-trigger="focus"#}
            </span>
        </form>
        <div class="skilling-fib-response-message"></div>
    </fieldset>
</div>
