{% if links|length == 1 %}
    <p>{{ 'In lesson'|t }} {{ links[0] }}</p>
{% elseif links|length > 1 %}
    <p>{{ 'In lessons:'|t }}</p>
    <ul>
    {% for link in links %}
        <li>{{ link }}</li>
    {% endfor %}
    </ul>
{% endif %}
