<div class="non-student-survey-message-container">
    <div class="non-student-survey-message-container">
        {% trans %}Survey{% endtrans %}
    </div>
    <div class="non-student-survey-message">
        {% trans %}
            If you were logged in as a student, you would
            see a link to a survey here.
        {% endtrans %}
    </div>
    <div class="non-student-survey-message-deets">
        <strong>{% trans %}Deets{% endtrans %}</strong><br>
        {% trans %}Internal name:{% endtrans %} {{ internal_name }}<br>
        {% if title %}
            {% trans %}Title:{% endtrans %} {{ title }}<br>
        {% endif %}
        {% if description %}
            {% trans %}Description:{% endtrans %} {{ description }}<br>
        {% endif %}
    </div>
</div>
