 <div class='skilling-feedback-notice-container'>
    <p>{{ 'Overall evalution:'|t }} {{ overall }}</p>
    <p>{{ 'Complete?'|t }} {{ complete }}</p>
    <div class='skilling-feedback-notice-message'>{{ feedback|raw }}</div>
</div>
