 <div class='skilling-message-notice-container'>
    <p>{{ 'From:' }} {{ from }}</p>
    <p>{{ 'Subject:' }} {{ subject }}</p>
    <p>{{ 'Sent:' }} {{ when_sent }}</p>
    <div class='skilling-message-notice-message'>{{ message|raw }}</div>
</div>
