<div class="skilling-pause-container btn-group" data-counter="{{ counter }}">
    <button type="button" class="btn btn-primary show-more"
            title="{{ 'Show more content'|t }}">{{ 'More...'|t }}</button>
    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">{{ 'Toggle Dropdown'|t }}</span>
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item show-all" href="#"
           title="{{ 'Show all content'|t }}">{{ 'Show all'|t }}</a>
    </div>
</div>
