{% if calendar|length == 0 %}
    <p>{{ "Nothing to show."|t }}</p>
{% else %}
    <table class="table">
        <thead>
            <th>Day count</th>
            <th>Week</th>
            <th>Week day</th>
            <th>Date</th>
            <th>Events</th>
        </th>
        </thead>
    {% for day in calendar %}
        <tr>
            <td>{{ day.calendar_day }}</td>
            <td>{{ day.week_number }}</td>
            <td>{{ day.weekday }}</td>
            <td>{{ day.month }} {{ day.day_of_month }}, {{ day.year }}</td>
            <td>
                {% if day.events %}
                    <ul>
                    {% for event in day.events %}
                        <li>{{ event.title }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
