<div class="skilling-completion-status">
     <h4>{{ "Your status"|t }}</h4>
     <div class="skilling-completion-score-container">
          <span class="skilling-completion-score-image"></span>
          <span class="skilling-completion-score-explanation">{{ explanation }}</span>
     </div>
     <p>{{ recompute }}</p>
     <div class="skilling-required-choice-container skilling-thin-border">
          <input type="checkbox" id="skilling-required-choice"
                 title="{{ 'Base completion score on required exercises only'|t }}"
          {% if based_on_required_only %}
               checked
          {% endif %}
          >
          <label for="skilling-required-choice" id="skilling-required-choice-label">
               {{ 'Base completion score on required exercises only'|t }}
          </label>
          <p class="skilling-hide-on-load" id="skilling-changed-required-saving">
               {{ "Saving..."|t }}
               <img alt="Saving"
                    src="{{ url('<front>') }}core/misc/throbber-active.gif">
          </p>
          <p class="skilling-hide-on-load" id="skilling-changed-required">{{
               "<em>Change recorded. Use the recompute link above to see the effect
            immediately.</em>"|t
               }}</p>
          <p>
               {{ "Recommend: leave unchecked."|t }}
               <a class="small" data-toggle="collapse" href="#base-on-required" aria-expanded="false" aria-controls="base-on-required">
                    {{ "What is this?"|t }}
               </a>
          </p>
          <div class="collapse" id="base-on-required">
               <p>{{
                 '<em>(Recommended)</em> Leave it unchecked if you want to learn skills well.
                 Your emoticon will depend on your progress on both required and
                 optional exercises on the timeline. Challenge exercises won\'t
                 be included, though.'|t
               }}</p>
               <p class="skilling-no-bottom-margin">{{
                    '<em>(Not recommended)</em> Check it if you just care about meeting basic
                 course requirements,
                 rather than learning skills well. The progress emoticon will be based
                 only on required exercises on the timeline. Your progress on optional
                 and challenge exercises
                 won\'t affect the emoticon.'|t
                    }}</p>
          </div>
     </div>
</div>
