    <button class="btn btn-primary btn-sm" type="button"
            id="skilling-toggle-left-sidebar"
            aria-expanded="true" aria-controls="{{ left_sidebar_id }}">
        <span id="skilling-toggle-left-sidebar-arrow">&#x21a4;</span>
    </button>
    <button class="btn btn-primary btn-sm" type="button"
            id="skilling-toggle-right-sidebar"
            aria-expanded="true" aria-controls="{{ right_sidebar_id }}">
        <span id="skilling-toggle-right-sidebar-arrow">&#x21a6;</span>
    </button>
