{#
/**
 * @file
 * Default theme implementation to display a book tree.
 *
 * Returns HTML for a wrapper for a book sub-tree.
 *
 * Available variables:
 * - items: A nested list of book items. Each book item contains:
 *   - attributes: HTML attributes for the book item.
 *   - below: The book item child items.
 *   - title: The book link title.
 *   - url: The book link URL, instance of \Drupal\Core\Url.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     book tree.
 *   - is_collapsed: TRUE if the link has children within the current book tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}

<div class="block skilling-book-container">
  <header class="skilling-book-header">
    <a href="{{ alias }}" title="{{ title }}">{{ title }}</a>
  </header>
  <ul class="first-layer">
    {{ _self.book_links(children, 0) }}
  </ul>
</div>

{% macro book_links(items, menu_level) %}
{#  {% import _self as book_tree %}#}
  {% if items %}
    {% for item in items %}
      {% if item.children is empty %}
        <li class="no-submenu">
          <a
              href="{{ item.alias }}"
              data-key="{{ item.key }}"
          >{{ item.title }}</a>
        </li>
      {% else %}
        <li class="submenu">
          <a class="collapse-toggle"
             data-toggle="collapse"
             href="#kid-list-{{ item.key }}"
             aria-expanded="false"
             aria-controls="kid-list-{{ item.key }}">+</a>
          <a
             href="{{ item.alias }}"
             data-key="{{ item.key }}"
          >{{ item.title }}</a>
          <ul class="collapse" id="kid-list-{{ item.key }}">
            {{ _self.book_links(item.children, menu_level + 1) }}
          </ul>
        </li>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}
