{# Insert an exercise into content. #}
{# Internal name is used as a destination for some links. #}
{#{{ kint() }}#}
<div>
        {#<button class="btn btn-default"#}
                {#aria-expanded="false"#}
                {#aria-controls="submissions_for_{{ exercise_nid }}">#}
            {#{{ 'Submissions'|t }}#}
        {#</button>#}
        <div id="submissions_for_{{ exercise_nid }}">
            {% include '@skilling/exercise-submission-links.html.twig' with
                {
                    'exercise_nid': exercise_nid,
                    'internal_name': internal_name,
                    'submission_links': submission_links,
                    'submission_status': submission_status
                }
            %}
        </div>
</div>

