<p>{{ 'Send an email message to your instructor.' }}</p>
<h4>{{ 'Your instructor'|t }}</h4>
<div class='skilling-student-message-to-instructor-instructions-container'>
    <div class="instructor-identification">
        {% if not instructor_picture_url is empty %}
            <div class="instructor-identification-photo">{{ instructor_picture_url }}</div>
            {#<img src="{{ instructor_picture_url }}"#}
                 {#class="instructor-identification-photo"#}
                 {#title="{{ 'Your instructor'|t }}"#}
            {#>#}
        {% endif %}
        {#<a href="{{ base_path }}user/{{ instructor_id }}">{{ instructor_name }}</a>#}
        {{ instructor_name }}
        {% if not instructor_about is empty %}
            <p>
                {{ instructor_about|raw }}
            </p>
        {% endif %}
    </div>
</div>
<h4 style="clear: both">Your message</h4>
