<div class="skilling-submission-changed-message">
    {{ "Submission has changed. Next time you visit the page, you will see the submission's status. <a href='javascript:history.go(0)'>Reload</a> the page to see it now."|t }}
</div>
