{% for submission in submissions %}
    <p>
        {{ 'Attempt:'|t }} {{ submission.version }}<br>
        {{ 'Submitted:'|t }} {{ submission.whenSubmitted }}<br>
    {% if not submission.whenFeedbackGiven %}
        {{ 'Submitted, but no feedback yet.'|t }}
    {% else %}
        {{ 'Feedback given on'|t }} {{ submission.whenFeedbackGiven }}<br>
        {{ 'Feedback:'|t }} {{ submission.feedback }}<br>
        {{ 'Exercise completed?'|t }} {{  submission.complete }}
     {% endif %}
    </p>
{% endfor %}
