
<div class="modal fade" id="suggestion-modal" tabindex="-1" role="dialog"
     aria-labelledby="suggestion-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="suggestion-modal-label">{{ 'Suggestion'|t }}</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="{{ 'Close'|t }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {{ 'Got a suggestion? Found a mistake? Let us know!'|t }}
                    <img class="skilling-throbber"
                         src="{{ url('<front>') }}/core/misc/throbber-active.gif" alt="Saving">
                </p>
                <p>
                    <small>{{ 'Records your user id, and the page you are on.'|t }}</small>
                </p>

                <form>
                    <div class="form-group">
                        <textarea class="form-control" id="suggestion" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="suggestion-save" type="button" class="btn btn-primary">{{ 'Save'|t }}</button>
                <button id="cancel-button" type="button" class="btn btn-secondary">{{ 'Forghedaboudit'|t }}</button>
            </div>
        </div>
    </div>
</div>

<p class="skilling-suggestion-trigger-container">
<button id="skilling-suggestion-trigger" type="button" class="btn btn-primary btn-sm"
        data-toggle="modal" data-target="#suggestion-modal"
        title="{{ 'Got a suggestion? Found a mistake? Let us know!'|t }}">
    Suggestion
</button>
</p>
