<div class="skilling-survey-link-container">
    {% if title %}
    <div class="skilling-survey-link-title">
        {{ title }}
    </div>
    {% endif %}
    <div class="skilling-survey-link-instructions">
        {{ instructions }}
    </div>
    {% if description %}
    <div class="skilling-survey-link-description">
        {{ description }}
    </div>
    {% endif %}
    {% if show_link %}
        <div class="skilling-survey-link">
            <a href="{{ link }}" class="use-ajax"
               data-dialog-type="modal">{{ 'Take the survey'|t }}</a>
        </div>
    {% endif %}
</div>
