<script>
  //If the opening window can be referenced, tell it to update its links.
  if ( window.opener.Drupal.behaviors.exerciseLinks !== undefined ) {
    window.opener.Drupal.behaviors.exerciseLinks.submissionPopupClosed(
        "{{ operation }}", {{ exercise_nid }}, {{ submission_nid }}
    );
  }
  window.close();
</script>