{% if classes|length == 0 %}
    <p>{{ 'No enrollments'|t }}</p>
{% else %}
    <h2>
    {% if classes|length == 1 %}
        {{ 'Class'|t }}
    {% else %}
        {{ 'Classes'|t }}
    {% endif %}
    </h2>
    <div class="skilling-classes-container">
        {% for class in classes %}
        <div class="skilling-class-container">
            <p class="skilling-class-title">{{ class.title }}</p>
            <p>{{ class.description|raw }}</p>
        </div>
        {% endfor %}
    </div>
    {% if instructors|length > 0 %}
        <h2>
        {% if instructors|length == 1 %}
            {{ 'Instructor'|t }}
        {% else %}
            {{ 'Instructors'|t }}
        {% endif %}
        </h2>
        <div class="skilling-instructors-container">
        {% for instructor in instructors %}
            <div class="skilling-instructor-container">
                <p class="skilling-instructor-name">{{ instructor.first_name }} {{ instructor.last_name }}</p>
                {% if instructor.picture %}
                    <img class="skilling-instructor-image" src="{{ instructor.picture }}" alt="{{ instructor.first_name }} {{ instructor.last_name }}">
                {% endif %}
                <p>{{ instructor.about|raw }}</p>
                <p><a href="{{ path('skilling.instructor_contact_form', {'instructor_id': instructor.uid}) }}">{{ 'Contact'|t }}</a></p>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endif %}
