{#
/**
 * @file
 * Default theme implementation to display a book tree.
 *
 * Returns HTML for a wrapper for a book sub-tree.
 *
 * Available variables:
 * - items: A nested list of book items. Each book item contains:
 *   - attributes: HTML attributes for the book item.
 *   - below: The book item child items.
 *   - title: The book link title.
 *   - url: The book link URL, instance of \Drupal\Core\Url.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     book tree.
 *   - is_collapsed: TRUE if the link has children within the current book tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% if items %}
  <nav role="navigation" class="skilling-book-children-container">
    <header>{{ 'Lessons in this section'|t }}</header>
    <ul>
    {% for item in items %}
      <li>
        {{ link(item.title, item.url, { 'class':['list-group-item']}) }}
      </li>
    {% endfor %}
    </ul>
  </nav>
{% endif %}
