.skilling-toc-container {
    border: 2px solid #dee2e6;
    border-radius: 4px;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.skilling-toc-title {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.skilling-toc-heading1 {
    margin-left: 0.5rem;
}

.skilling-toc-heading1:before {
    content: "\2022\0020";
    font-size: 120%;
}

.skilling-toc-heading2 {
    margin-left: 1.5rem;
}

.skilling-toc-heading2:before {
    content: "\25E6\0020";
    font-size: 120%;
}

.skilling-toc-heading3 {
    margin-left: 2.5rem;
}

.skilling-toc-heading3:before {
    content: "\2043\0020";
    font-size: 120%;
}

.skilling-toc-heading4 {
    margin-left: 3.5rem;
}

.skilling-toc-heading4:before {
    content: "\2043\0020";
    font-size: 120%;
}

.skilling-toc-heading5 {
    margin-left: 4.5rem;
}

.skilling-toc-heading5:before {
    content: "\2043\0020";
    font-size: 120%;
}

.skilling-toc-heading6 {
    margin-left: 5.5rem;
}

.skilling-toc-heading6:before {
    content: "\2043\0020";
    font-size: 120%;
}

