.skilling-reflect-followers {
  display: none;
}

.skilling-reflect-container {
  padding: 1rem;
  border-width: thin;
  border-style: solid;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: transparent;
  margin: 2rem;
}

.skilling-reflect-title {
  margin-top: 0;
  margin-bottom: 0;
  width: auto;
  font-size: 1rem;
  float: right;
  border-width: thin;
  border-style: solid;
  border-radius: 4px;
  padding: 0.2em;
}

.skilling-reflect-container textarea {
  display: inline;
}

/* Give own positioning of the throbber. */
img.skilling-reflect-throbber {
  position: absolute;
  padding-left: 1rem;
  padding-top: 1rem;
  display: none;
}
