<template>
  <div class="cyco-exercise-notes-pane">
    {{ exerciseNotes }}
  </div>
</template>

<script>
  export default {
    props: {
      submissionId: {
        type: Number,
        required: true,
        default: 0,
      },
    },
    computed: {
      /**
       * Lookup the notes for the exercise this is a submission for.
       */
      exerciseNotes() {
        if ( this.submissionId == 0 ) {
          //Initial id is 0.
          return 'Choose a submission above.';
        }
        let exerciseId = window.submissions[this.submissionId].exerciseId;
        return window.exercises[exerciseId].notes;
      }
    }
  }
</script>


