<template>
  <div id="cyco-exercise-pane">
    <p v-html="exerciseDescription"></p>
    <p v-if="exerciseNotes"><strong>Notes</strong></p>
    <p v-html="exerciseNotes"></p>
  </div>
</template>

<script>
export default {
  props: {
    submissionId: {
      type: Number,
      required: true,
      default: 0,
    },
  },
  watch: {
    //Animate pane to show when switching to new submission.
    submissionId:function(val, oldVal) {
      animatePaneSwitch('cyco-exercise-pane');
    }
  },
  computed: {
    /**
     * Lookup the description of the exercise this is a submission for.
     */
    exerciseDescription(){
      if ( this.submissionId == 0 ) {
        //Initial id is 0.
        return 'Choose a submission above.';
      }
      let exerciseId = window.submissions[this.submissionId].exerciseId;
      return window.exercises[exerciseId].description;
    },
    /**
     * Lookup the notes for the exercise this is a submission for.
     */
    exerciseNotes(){
      if ( this.submissionId == 0 ) {
        //Initial id is 0.
        return '';
      }
      let exerciseId = window.submissions[this.submissionId].exerciseId;
      return window.exercises[exerciseId].notes;
    },

  },
}
</script>


