<template>
  <div id="cyco-feedback-content-container">
    <ckeditor id="cyco-feedback-content" ref="cycoFeedbackContent"
        @updateFeedback="updateFeedback"
        v-if="submissionId !== 0"
        :value="feedback"
        :config="config"
        @input="userInput"
    ></ckeditor>
  </div>
</template>


<script>
  import CKEditor from 'vue-ckeditor2';
  export default {
    components: {
      'ckeditor': CKEditor,
    },
    data () {
      return {
        config: {
          toolbar: [
            { name: 'document', items: [ 'Source' ] },
            { name: 'clipboard', items: [ 'Undo', 'Redo' ] },
            { name: 'basicstyles',
                items: [ 'Bold', 'Italic', 'Format','RemoveFormat' ] },
            { name: 'paragraph',
                items: [ 'NumberedList', 'BulletedList'  ] },
            { name: 'links', items: [ 'Link', 'Unlink', ] },
          ],
          resize_enabled: false,
          removePlugins: 'elementspath',
          format_tags: 'p;pre'
        },
        feedback: '',
        //Flag to show whether saving data to store.
        animating: false,
      }
    },
    computed: {
    },
    props: ['generatedFeedback', 'submissionId', 'submissionGraded'],
    watch: {
      generatedFeedback: function(val) {
//        console.log('feedback pane: generatedFeedback watch',);
//        console.log('val',val);
//        console.log('submissionId', this.submissionId);
//        console.log('old this.feedback*', this.feedback + '*');
        if ( this.feedback ) {
          this.feedback = this.feedback + '<hr>' + val;
        }
        else {
          this.feedback = val;
        }
//        console.log('new this.feedback:',this.feedback);
      },
      //Switching to new submission.
      submissionId: function() {
//        console.log('feedback pane: submissionId watch',);
//        console.log('submissionId', this.submissionId);
        //0 if grader is getting started, and has not selected anything yet.
        if ( this.submissionId === 0 ) {
          return;
        }
        //SLIMY HACK. User input event being is sent during submission
        //switch (sometimes), even though it should not be. This
        //flag prevents user input code from doing its work.
        window.cycoFeedbackAnimating = true;
        //Load existing feedback.
        this.feedback = window.submissions[this.submissionId].feedback;
        this.$nextTick(function(){
//          console.log('id change watcher tick', );
          this.$refs.cycoFeedbackContent.instance.setData(this.feedback);
          this.setEnabledStateCK();
        });
//        console.log('this.feedback *' + this.feedback + '*');
        //Animate pane, then resize CK.
        animatePaneSwitch('cyco-feedback-content-container', resizeCk);
      },
      submissionGraded: function(){
        this.setEnabledStateCK();
      },
    },
    methods: {
      setEnabledStateCK(){
        //Prevent errors first time through.
        if (this.$refs.cycoFeedbackContent === undefined || this.$refs.cycoFeedbackContent.instance === undefined) {
          return;
        }
        //If submission is graded, CK instance is read-only.
        let ckInstance = this.$refs.cycoFeedbackContent.instance;
        //Prevent errors first time through.
        // if (!ckInstance || ckInstance === undefined ) {
        //   return;
        // }
        //Delayed execution - ckeditor must be properly initialized before setting readonly
        //https://stackoverflow.com/questions/18391556/setreadonly-causes-error-when-called-on-instanceready-of-ckeditor
        //Yes - this is slimy, but it works.
        let retryCount = 0;
        let outerThis = this;
        // console.log('before delay loop');
        let delayedSetReadOnly = function () {
          if (ckInstance.editable() == undefined && retryCount++ < 10) {
            // console.log('setting timeout');
            setTimeout(delayedSetReadOnly, retryCount * 100); //Wait a while longer each iteration
          } else {
            // console.log('not undefined');
            ckInstance.setReadOnly(outerThis.submissionGraded);
            //Set background color of editor.
            let backgroundColor = 'white';
            if ( outerThis.submissionGraded ) {
              backgroundColor = 'lightgrey';
            }
            $(ckInstance.document.getBody().$)
                .css('background-color', backgroundColor);
          }
        };
        setTimeout(delayedSetReadOnly, 50);
      },
      userInput(newContent) {
//        console.log('in pane userInput');
        if ( window.cycoFeedbackAnimating ) {
//          console.log('window animating');
          return;
        }
//        console.log('this.submissionId', this.submissionId);
//        console.log('newContent',newContent);
        window.submissions[this.submissionId].feedback = newContent;
        this.feedback = newContent;
//        console.log('this.feedback', this.feedback);
        //Emit an event.
        this.$emit('graderTypedKeyboardKey');
      },
      updateFeedback() {
//        console.log('updateFeedback');
        this.$forceUpdate();
      }
    },
  }
</script>
