<template>
  <div v-if="submissionId !== 0">
    <p id="skilling-grader-files-header">Grader files</p>
    <p v-if="graderFiles.length === 0">(No files.)</p>
    <div v-else id="skilling-grader-files">
      <p v-for="graderFile in graderFiles"  :id="'skilling-grader-file-'+graderFile.index">
        <span><a
          :href="graderFile.url" target="_blank"
        >{{ graderFile.name }}</a></span>
<!--        <span><a @click="showGraderFile(graderFile)">{{ graderFile.name }}</a></span>-->
        <button @click="deleteGraderFile(graderFile)" type="button" class="skilling-delete-button btn btn-primary btn-sm">Delete</button>
      </p>
    </div>
    <form id="upload-file-form" name="upload-file-form" @submit.prevent="uploadGraderFile">
      <div class="form-group">
<!--        <p @click="chooseFile" class='btn btn-primary btn-sm' id="skilling-upload-choose-file">Choose file...</p>-->
        <input type='file' class='btn btn-primary btn-sm' id='skilling-file-input' name='upload-new-submission-file' class='form-control-file'>
        <button type='submit' class='btn btn-primary btn-sm'>Upload</button>
        <img v-show="showThrobber" src="src/images/ajax-loader.gif" alt="Processing...">
      </div>
<!--      <p id="skilling-upload-file-name-container" style="display:none;">File: <span id="skilling-upload-file-name"></span></p>-->
    </form>
<!--    <p>Dog: {{ dogCount }}</p>-->
  </div>
</template>

<script>
  export default {
    name: "GraderFiles",
    data() {
      return {
        dogCount: 0,
        componentKey: 0,
      };
    },
    props: {
      submissionId: {
        type: Number,
        required: true,
        default: 0,
      },
      showThrobber: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      graderFiles() {
        let filesResults = [];
        //Useless stuff to create a dependency on dogCount. When methods
        //update dogCount, Vue will run this function will be run again, and
        //update the display.
        let useless = 9;
        if (this.dogCount > 2) {
          useless++;
        }
        if (window.submissions[this.submissionId]) {
          if (window.submissions[this.submissionId].graderFiles) {
            let graderFilesData = window.submissions[this.submissionId].graderFiles;
            if (Array.isArray(graderFilesData)) {
              if (graderFilesData.length > 0) {
                for (let index = 0; index < graderFilesData.length; index++) {
                  let graderFileUrl = graderFilesData[index].url;
                  let graderFileFid = graderFilesData[index].fid;
                  // Make the link text from the last part of the URL.
                  let parts = graderFileUrl.split("/");
                  if (parts.length > 0) {
                    let fileName = parts.pop();
                    let fileResult = {
                      "index": index,
                      "name": fileName,
                      "fid": graderFileFid,
                      "url": graderFileUrl
                    };
                    filesResults.push(fileResult);
                  }
                } // End for of
              } // End length > 0
            } // End is array
          } // End there are grader files.
        }
        return filesResults;
      },
    },
    methods: {
      deleteGraderFile(graderFile) {
        let fileName = graderFile.name;
        let message = `Are you sure you want to delete ${fileName}?`;
        if (confirm(message)) {
          //Show throbber.
          this.showThrobber = true;
          //Send message to server.
          deleteGraderFile(this.submissionId, graderFile.fid)
              .done((serverReply) => {
                //Process server response.
                let status = serverReply.status;
                if (status === "OK") {
                  //Remove grader file from client submission data.
                  for (let index = 0; index < window.submissions[this.submissionId].graderFiles.length; index++) {
                    if ( window.submissions[this.submissionId].graderFiles[index].fid == graderFile.fid ) {
                      window.submissions[this.submissionId].graderFiles.splice(index, 1);
                      break;
                    }
                  }
                  //Update file display.
                  this.dogCount++; //Data prop accessed by computed field graderFiles.
                  this.$forceUpdate();
                }
                this.showThrobber = false;
              })
              .fail(() => {
                //Hide throbber.
                this.showThrobber = false;
              });
        }
      },
      uploadGraderFile() {
        let fileToUpload = $('#skilling-file-input')[0].files[0];
        if (! fileToUpload) {
          alert("No file selected");
          return;
        }
        //Show throbber.
        this.showThrobber = true;
        let subId = this.submissionId;
        //Send message to server.
        uploadGraderFile(subId, fileToUpload)
          .done((serverReply) => {
            //Process server response.
            let status = serverReply.status;
            if (status === "OK") {
              //Add grader file to client submission data.
              const fileDeets = {
                fid: serverReply.fid,
                owner: serverReply.owner,
                ownerUid: serverReply.ownerUid,
                url: serverReply.url
              };
              window.submissions[this.submissionId].graderFiles.push(fileDeets);
              //Update file display.
              this.dogCount++; //Data prop accessed by computed field graderFiles.
              this.$forceUpdate();
            }
            else {
              let message = serverReply.message;
              if (!message) {
                message = "Upload failed.";
              }
              swal.close();
              swal({
                title: "Upload failed!",
                text: message,
                icon: "error",
                button: "Close",
              });              }
            this.showThrobber = false;
          })
          .fail(() => {
            //Hide throbber.
            this.showThrobber = false;
          });
      },
      //User clicked on a grader file. Show it.
      showGraderFile(graderFile) {
        // alert(graderFile.name + ' ' + graderFile.fid + ' ' + graderFile.url);
        //Get student deets.
        let studentId = window.submissions[this.submissionId].studentId;
        let student = window.students[studentId];
        let studentFirstName = student.firstName;
        let studentLastName = student.lastName;
        //Get exercise deets.
        let exerciseId = window.submissions[this.submissionId].exerciseId;
        let exercise = window.exercises[exerciseId];
        let exerciseTitle = exercise.title;
        //Get file deets.
        let fileName = graderFile.name;
        let fileUrl = graderFile.url;
        let newWindow = window.open("", "",
            "resizable=yes,status=yes,width=600,height=600");
        newWindow.document.title = "Grader file for submission";
        let htmlOutput = `
<h3>Grader attached file</h3>
<div style="font-family: Sans-Serif;">
  <p><strong>Student:</strong> ${studentFirstName} ${studentLastName}</p>
  <p><strong>Exercise:</strong> ${exerciseTitle}</p>
  <p><strong>File:</strong> ${fileName}</p>
  <iframe style="width: 100%;height: 100%;" style="" src="${fileUrl}"></iframe>
</div>`;
        newWindow.document.body.innerHTML = htmlOutput;
      }
    }
  }
</script>

<style scoped>

  #skilling-grader-files-header {
    border-top: thin solid lightgray;
    font-weight: bold;
  }

  #skilling-grader-files a {
    cursor: pointer;
  }

  label {
    font-weight: normal;
  }

  input {
    display: inline-block;
  }

  .skilling-delete-button {
    margin-left: 1rem;
  }

  /*input[type="file"] {*/
  /*  display: none;*/
  /*}*/

  /*#skilling-upload-file-name-container {*/
  /*  display: none;*/
  /*}*/

</style>
