/**
 * Created by kieran on 31/05/17.
 * Based on https://github.com/rmp135/vue-splitter.
 */
<template>
  <div :style="{ cursor, userSelect }" class="horizontal-vue-splitter" style="height: 100%"
       @mouseup="onUp"
       @mousemove="onMouseMove" @touchmove="onMove" @touchend="onUp">
    <div :style="{ width: currentPercent+'%' }" style="height: 100%"
         class="left-pane horizontal-splitter-pane">
      <slot name="left-pane" style="height: 100%"></slot>
    </div>
    <div class="horizontal-splitter" :class="{active}" @mousedown="onDown"
         style="height: 100%"
         @touchstart.prevent="onDown"></div>
    <div :style="{ width: 100-currentPercent+'%'}"  style="height: 100%"
         class="right-pane horizontal-splitter-pane">
      <slot name="right-pane" style="height: 100%"></slot>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      min: {
        type: Number,
        default: 10
      },
      percent: {
        type: Number,
        default: 50,
      }
    },
    data () {
      return {
        active: false,
        currentPercent: 50,
        hasMoved: false
      }
    },
    computed: {
      userSelect () { return this.active ? 'none' : '' },
      cursor () { return this.active ? 'ew-resize' : '' },
    },
    methods: {
      onDown (e) {
        this.active = true;
        this.hasMoved = false;
      },
      onUp () {
        this.active = false;
      },
      onMove (e) {
        if (this.active) {
          let offset = 0;
          let target = e.currentTarget;
          while (target) {
            offset += target.offsetLeft;
            target = target.offsetParent;
          }
          const currentPercent =  Math.floor(((e.pageX - offset)
                  / e.currentTarget.offsetWidth)*10000)/100;
          if (currentPercent > this.min && currentPercent < 100 - this.min) {
            this.currentPercent = currentPercent;
          }
          this.$emit('resize');
          this.hasMoved = true;
        }
      },
      onMouseMove (e) {
        if (e.buttons === 0 || e.which === 0) {
          this.active = false;
        }
        this.onMove(e);
      }
    },
    mounted(){
      this.currentPercent = this.percent;
    }
  }
</script>

<style>

.horizontal-vue-splitter {
  height: inherit;
  display: flex;
}
.horizontal-vue-splitter .horizontal-splitter-pane {
    height: inherit;
}

.horizontal-vue-splitter .horizontal-splitter {
    width: 5px;
    background-color: #9e9e9e;
    cursor: ew-resize;
  }

.left-pane, .right-pane {
    height: 100%;
    overflow-y:auto;
  }
  div.left-pane > div:first-child, div.right-pane > div:first-child {
    height: 100%;
  }
</style>
