<template>
  <div class="new-option-container">
    <div class="new-option-title">
      <textarea @keyup="textChanged">{{ title }}</textarea>
    </div>
    <div class="new-option-buttons">
      <!-- Is this option chosen? -->
      <button
          class="btn btn-xs"
          :class="{ 'btn-success':chosen, 'btn-primary':!chosen }"
          :title="chosen ? 'Option chosen for this submission' : 'Option not chosen for this submission'"
          @click="clickedChosenButton"
      >
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      </button>
      <br>
      <!-- Keep this option as part of the rubric item? -->
      <button
          class="btn btn-xs"
          :class="{ 'btn-success':keep, 'btn-primary':!keep }"
          :title="keep ? 'Keep this option' : 'Do not keep this option'"
          @click="clickedKeepButton"
      >
        <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
      </button>
      <br>
      <!-- Delete this option? -->
      <button
              class="btn btn-primary btn-xs"
              title="Delete this option"
              @click="clickedDeleteButton"
      >
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button>

    </div>
  </div>
</template>


<script>
  export default {
    props: {
      optionIndex: {
        type: Number,
      },
      chosen: {
        type: Boolean,
      },
      title: {
        type: String,
      },
      keep: {
        type: Boolean,
        default: true
      },
    },
    methods: {
      /**
       * User changed the text.
       * Emit an event for the parent.
       */
      textChanged(event) {
//        console.log('thing', event.target.value);
        this.$emit('graderChangedText', {
          optionIndex: this.optionIndex,
          text: event.target.value,
        });
      },

      /**
       * Grader clicked the chosen button.
       */
      clickedChosenButton() {
//        console.log('new option clickedChosenButton. this.optionIndex: ',this.optionIndex);
        //Send event to parent, including this option's index.
        this.$emit('clickedChosenButton', this.optionIndex);
      },
      /**
       * Grader clicked the keep button.
       */
      clickedKeepButton() {
//        console.log('new option clickedKeepButton. this.optionIndex: ',this.optionIndex);
        //Send event to parent, including this option's index.
        this.$emit('clickedKeepButton', this.optionIndex);
      },
      /**
       * Grader clicked the delete button.
       */
      clickedDeleteButton() {
//        console.log('new option clickedDeleteButton. this.optionIndex: ',this.optionIndex);
        if ( confirm('Delete?') ) {
          //Send event to parent, including this option's index.
          this.$emit('clickedDeleteButton', this.optionIndex);
        }
      },
    },
  }
</script>


<style scoped>
  .new-option-container {
    border-top: thin #ddd solid;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    flex-direction: row;
  }

  .new-option-title {
    flex-grow: 2;
  }

  .new-option-title textarea {
    width: 100%;
    height: 100%;
  }

  .new-option-buttons {
    flex-basis: auto;
    padding-left: 5px;
  }

  .new-option-buttons button {
    margin-bottom: 3px;
  }

</style>
