<template>
  <div @click="optionClicked" class="response-option">
    <div class="pull-right">
      <span v-if="responseOptionHasBeenChosen()"
            class="glyphicon glyphicon-ok text-success"
            aria-hidden="true"
            title="Feedback will include this response"
      ></span>
      <span v-if="completes"
            class="glyphicon glyphicon-eject"
            aria-hidden="true"
            title="Finishes this rubric item"></span>
    </div>
    <span v-html="responseOptionResponse"></span>
  </div>
</template>


<script>
  export default {
    props: {
      submissionId: {
        type: Number,
        required: true,
      },
      rubricItemId: {
        type: Number,
        required: true,
      },
      responseOptionId: {
        type: Number,
        required: true,
      },
    },
    computed: {
      /**
       * Get the response option object for the responseOptionId passed
       * as a property.
       */
      responseOptionResponse() {
        let responseOption = window.responseOptions[this.responseOptionId];
        let response = responseOption.response;
        // Remove HTML - links in the response can get clicked during grading.
        var tmp = document.createElement("div");
        tmp.innerHTML = response;
        return tmp.textContent || tmp.innerText || "";
      },
      //Does this option complete the rubric item?
      completes() {
        return window.responseOptions[this.responseOptionId].completes;
      },
    },
    methods: {

      updateSelf() {
        this.$forceUpdate();
      },
      /**
       * Get the existing choices for this submission.
       */
      getExistingChoicesThisSubmission() {
        return window.submissions[this.submissionId].rubricItemChoices;
      },
      /**
       * Has the grader chosen this response option?
       */
      responseOptionHasBeenChosen() {
        //Get the existing choices for this submission.
        let submissionRubricItemChoices = this.getExistingChoicesThisSubmission();
        //Have any choices for this rubric item been chosen?
        if ( submissionRubricItemChoices[this.rubricItemId] !== undefined ) {
          return submissionRubricItemChoices[this.rubricItemId].includes(this.responseOptionId);
        }
        return false;
      },
      /**
       * Grader clicked an option. Add or remove it from the submission's choices.
       */
      optionClicked() {
         // console.log("optionClicked");
        //Get the existing choices for this submission.
        let submissionRubricItemChoices = this.getExistingChoicesThisSubmission();
        // console.log("submissionRubricItemChoices: ", submissionRubricItemChoices);
        //Have any choices for this rubric item been chosen?
        if ( submissionRubricItemChoices[this.rubricItemId] === undefined ) {
          //No - make a place for them.
          submissionRubricItemChoices[this.rubricItemId] = [];
        }
        //Get grader's existing choices for this rubric item.
        let choicesThisRubricItem = submissionRubricItemChoices[this.rubricItemId];
        // console.log("choicesThisRubricItem: ", choicesThisRubricItem);
        //Get the index of this option in the choices array, -1 if not there.
        let optionIndexInChoices = choicesThisRubricItem.indexOf(this.responseOptionId);
        // console.log("optionIndexInChoices: ", optionIndexInChoices);
        if ( optionIndexInChoices === -1 ) {
          //Not found - add it.
          choicesThisRubricItem.push(this.responseOptionId);
        }
        else {
          //Is there already, remove it.
          choicesThisRubricItem.splice(optionIndexInChoices, 1);
        }
        //Does this autocollapse the rubric item?
        let option = window.responseOptions[this.responseOptionId];
        // console.log("this.responseOptionId", this.responseOptionId);
        // console.log("option", option);
        // console.log("option.completes", option.completes);
        if (option.completes) {
          // console.log("emit rubricItemComplete");
          this.$emit('rubricItemComplete');
        }
        //Force computed props to update.
        this.$forceUpdate();
        //Tell rubric item to update itself.
        this.$emit('rubricItemUpdate');
        //Tell RubricItemsPane to update its computed props.
        this.$emit('rubricItemsPaneUpdate');
      }
    }
  }
</script>


<style scoped>
  .response-option {
    cursor: pointer;
    border-top: thin #ddd solid;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .response-option:first-of-type {
    border-top: none;
  }
</style>
