<template>
  <!--<div class="section-fluid">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-12">-->
        <div class="cyco-feedback-rubric-item-panel panel panel-primary">
          <div class="panel-heading"
               :class="{'js-collapse-panel-body':!submissionGraded}"
          >
            {{ rubricItem.title }}
            <span
              v-show="isAnyOptionSelected"
              @click.stop="clearChoice"
              title="Clear your choice"
            >&#x21ba;</span>
            <div class="pull-right">
              <!--Button to collapse/expand rubric item option deets.
                Used Bootstrap animations rather than Vue transitions, because I like the effect.
                Utility function handles it, outside of Vue.
              -->
              <button ref="collapseButton"
                      :disabled="submissionGraded"
                      class="btn btn-primary btn-xs js-collapse-panel-body"
                      title="Show/hide rubric item response options">
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
              </button>
            </div>
            <div
                v-html="summarizeOptionsChosen()"
              >
            </div>
          </div>
          <div class="panel-body">
<!--          <div class="panel-body collapse">-->
            <rubric-item-response-option
                v-for="responseOptionId in rubricItem.responseOptionIds"
                key="responseOptionId"
                :submissionId="submissionId"
                :rubricItemId="rubricItemId"
                :responseOptionId="responseOptionId"
                @rubricItemComplete="rubricItemComplete"
                @rubricItemUpdate="rubricItemUpdate"
                @rubricItemsPaneUpdate="rubricItemsPaneUpdate"
            ></rubric-item-response-option>
            <new-option
              v-if="! submissionGraded"
              v-for="newOption in newOptions"
              :key="newOption.optionIndex"
              :optionIndex="newOption.optionIndex"
              :title="newOption.title"
              :chosen="newOption.chosen"
              :keep="newOption.keep"
              @graderChangedText="graderChangedText"
              @clickedChosenButton="clickedChosenButton"
              @clickedKeepButton="clickedKeepButton"
              @clickedDeleteButton="clickedDeleteButton"
            >
            </new-option>
            <div class="new-button-divider">
              <button ref="addOptionButton"
                      v-if="! submissionGraded"
                      id="addOptionButton"
                      class="btn btn-primary btn-xs pull-right"
                      title="Add a new response option"
                      @click="clickAddNewOption"
              >
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </div>
            </div>
        </div>
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</template>


<script>
  import RubricItemResponseOption from './RubricItemResponseOption.vue';
  import NewOption from './NewOption.vue';
  export default {
    components: {
      RubricItemResponseOption,
      NewOption,
    },
    props: {
      rubricItemId: {
        type: Number,
        required: true,
      },
      submissionId: {
        type: Number,
        required: true,
        default: 0,
      },
      submissionGraded: {
        type: Boolean,
      },
    },
    data() {
      return {
        //Max length in characters of an option summary.
        maxOptionSummaryLength: 80,
        /**
         * New options. Array. Structure of elements:
         *   optionIndex: same as array index,
         *   title
         *   chosen: boolean
         *   keep: boolean
         */
        newOptions: [],
        isAnyOptionSelected: false
      }
    },
    computed: {
      rubricItem(){
        return window.rubricItems[this.rubricItemId];
      },
    },
    methods: {
      /**
       * Got an event from a child new option. Grader changed the text.
       */
      graderChangedText(changeObject) {
        let optionIndex = changeObject.optionIndex;
        let newText = changeObject.text;
        this.newOptions[optionIndex].title = newText;
        this.isAnyOptionSelected = this.computeIsAnyOptionSelected();
      },
      /**
       * Is there a new option that has MT text?
       */
      isMtNewOption(){
        let result = false;
        this.newOptions.forEach( newOption=> {
          if (newOption.title.trim() === '') {
            result = true;
          }
        });
        return result;
      },

      /**
       * User clicked chosen button on a new option.
       */
      clickedChosenButton(optionIndex) {
        this.newOptions[optionIndex].chosen
            = ! this.newOptions[optionIndex].chosen;
        this.$nextTick(()=>{
          this.$forceUpdate();
        });
        this.isAnyOptionSelected = this.computeIsAnyOptionSelected();
      },
      /**
       * User clicked keep button on a new option.
       */
      clickedKeepButton(optionIndex) {
        this.newOptions[optionIndex].keep
            = ! this.newOptions[optionIndex].keep;
        this.$nextTick(()=>{
          this.$forceUpdate();
        });
        this.isAnyOptionSelected = this.computeIsAnyOptionSelected();
      },
      /**
       * User clicked delete button on a new option.
       */
      clickedDeleteButton(optionIndex) {
        this.newOptions.splice(optionIndex, 1);
        this.$nextTick(()=>{
          this.$forceUpdate();
        });
        this.isAnyOptionSelected = this.computeIsAnyOptionSelected();
      },
      /**
       * User clicked button to add a new option.
       */
      clickAddNewOption() {
        let index = this.newOptions.length;
        this.newOptions.push(
            {
              optionIndex: index,
              title: '',
              chosen: true,
              keep: true
            }
        );
        this.isAnyOptionSelected = this.computeIsAnyOptionSelected();
      },
      rubricItemUpdate(){
        this.isAnyOptionSelected = this.computeIsAnyOptionSelected();
        this.$forceUpdate();
      },

      computeIsAnyOptionSelected() {
        // console.log("call computeIsAnyOptionSelected");
        let chosen = this.getChosenOptionsText();
        const isAnythingSelected = (chosen.length > 0);
        // console.log("isAnythingSelected", isAnythingSelected);
        return isAnythingSelected;
      },
      getChosenOptionsText() {
        let chosen = [];
        let submissionRubricItemChoices = window.submissions[this.submissionId].rubricItemChoices;
        //Are there entries for this rubric item?
        if ( submissionRubricItemChoices[this.rubricItemId] !== undefined ) {
          //Yes.
          //Get the choices for this rubric item.
          let choiceIds = submissionRubricItemChoices[this.rubricItemId];
          choiceIds.forEach( choiceId => {
            let choiceResponse = window.responseOptions[choiceId].response;
            //Trim to max length.
            if ( choiceResponse.length > this.maxOptionSummaryLength ) {
              choiceResponse = choiceResponse.substring(0, this.maxOptionSummaryLength - 4) + '...';
            }
            chosen.push(choiceResponse);
          });
        } //End if there are choices.
        //See if there are any new items that need to be added.
        this.newOptions.forEach( newOption => {
          if ( newOption.chosen ) {
            chosen.push( newOption.title.trim() );
          }
        });
        // console.log("chosen", chosen);
        return chosen;
      },
      /**
       * This rubric item is complete, collapse it.
       */
      rubricItemComplete() {
        let $collapseButton = $(this.$refs.collapseButton);
        window.collapseButton = $collapseButton;

        //Only collapse if not already collapsed.
        let collapsed = $collapseButton.find('span.glyphicon').hasClass('glyphicon-triangle-top');
        // console.log("collapsed", collapsed);
        if ( !collapsed ) {
          $collapseButton.click();
        }
      },
      /**
       * Pass event emitted by option up to parent.
       */
      rubricItemsPaneUpdate() {
//        console.log('RI emitting');
        this.$emit('rubricItemsPaneUpdate');
      },
      /**
       * User wants to forget choices.
       */
      clearChoice(event) {
        // Show the RI choices.
        const target = $(event.target);
        var $panel = target.closest('.panel');
        var panelBody = $panel.find('.panel-body');
        $(panelBody).show("medium");
        window.submissions[this.submissionId].rubricItemChoices = [];
        this.newOptions = [];
        this.rubricItemUpdate();
        this.summarizeOptionsChosen();
        // window.thing = this;
        // console.log("this", this);
        // console.log("this.$refs", this.$refs);
        // console.log("this.$children", this.$children);
        // console.log("this.$options", this.$options);
        for (const index in this.$children) {
          const child = this.$children[index];
          // console.log("child", child);
          child.updateSelf();
        }
        this.isAnyOptionSelected = this.computeIsAnyOptionSelected();
      },
      /**
       * Summarize the options chosen for this rubric.
       */
      summarizeOptionsChosen(){
        let chosen = this.getChosenOptionsText();
        let result = '';
        if ( chosen.length === 0 ) {
          result = '(Nothing chosen)';
        }
        else {
          result = chosen.join("");
        }
        return '<small>' + result + '</small>';
      },
    }
  }
</script>

<style scoped>
  .cyco-feedback-rubric-item-panel.panel {
    margin: 4px;
  }
  .cyco-feedback-rubric-item-panel .panel-heading,
  .cyco-feedback-rubric-item-panel .panel-body {
    padding: 4px;
  }
  .new-button-divider {
    cursor: pointer;
    border-top: thin #ddd solid;
    padding-top: 4px;
    padding-bottom: 4px;
  }
</style>

