<template>
  <div id="cyco-rubrics-pane">
    <div id="rubric-item-pane-cp"> <!-- Start CP -->
      <div class="cp-row"> <!-- CP line 1 -->

        <div id="ungraded-count">
          <span v-if="numUngradedItems() == 0" class="text-success"><strong>All graded</strong></span>
          <span v-else><strong>Graded: {{ gradedItemsRatio() }}</strong></span>
        </div>
        <!-- Item jump list -->
        <div class="dropdown" id="rubricItemDropDownContainer">
          <button
              class="btn btn-primary dropdown-toggle"
              type="button" id="rubricItemDropDown"
              title="Rubric item jump list"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
              :disabled="submissionGraded"
          >
            Items
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="rubricItemDropDown">
            <li
              v-for="rubricItem in rubricItems"
              key="rubricItem.rubricItemId"
              :value="'rubricItem' + rubricItem.rubricItemId"
              :class="{ 'rubric-item-graded': isRubricItemGraded(rubricItem.rubricItemId) }"
              >
              <a :href="'#rubricItem' + rubricItem.rubricItemId">{{ rubricItem.title }}</a>
            </li>
          </ul>
        </div>

      </div><!-- End CP line 1 -->
      <div class="cp-row"> <!-- CP second line -->

        <div class="dropdown" id="overallEvaluationContainer">
          <button
              class="btn btn-primary dropdown-toggle"
              type="button" id="overallEvaluation"
              title="Overall evaluation"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
              :disabled="submissionGraded"
          >
            <span :class="overallEvalClass()">
              {{ overallEvaluation() }}
            </span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="overallEvaluation">
            <li
                v-for="overallEvaluationOption in overallEvaluationOptions"
                >
            <a @click="overallEvalClicked" :data-eval="overallEvaluationOption" href="#">
              {{ overallEvaluationOption }}</a></li>
          </ul>
        </div>

        <div class="dropdown" id="exerciseCompletedContainer">
          <span :class="exerciseCompletedClass()">
                {{ exerciseCompletedLabel() }}
          </span>
          <button
                  class="btn btn-sm btn-primary"
                  title="Override completion (toggle)"
                  @click="toggleComplete"
          >Override
          </button>
        </div>
      </div>
      <div class="cp-row feedback-button-row"> <!-- CP third line -->

        <button v-if="! submissionGraded"
                class="btn btn-sm btn-primary"
                title="Create feedback message"
                :disabled="createMessageButtonDisabled()"
                @click="createMessage"
        >Create message
        </button>

        <button v-if="! submissionGraded"
                class="btn btn-sm btn-primary"
                ref="rubricItemPaneSendMessageButton"
                title="Send the feedback message"
                :disabled="createMessageButtonDisabled()"
                @click="sendMessageClicked"
        >Send message
        </button>
        <!--:disabled="sendMessageButtonDisabled()"-->
<!--        v-show="showThrobber"-->
        <img src="src/images/ajax-loader.gif"
             id="feedback-throbber"
             title="Processing..."
             alt="Processing..."
             style="position: absolute; right: 8px; display: none;"
        >

      </div> <!-- End CP line 3 -->
    </div> <!-- End CP -->
    <div class="section-fluid" id="anchor-jump-list-targets" style="overflow-y:auto;"> <!-- Start rubric item list -->
      <!--<div class="row"> &lt;!&ndash; CP line 1 &ndash;&gt;-->
      <!--<div class="col-sm-12">-->
      <rubric-item
          ref="rubricItem"
          :submissionGraded="submissionGraded"
          @rubricItemsPaneUpdate="rubricItemsPaneUpdate"
          v-for="rubricItem in rubricItems"
          key="rubricItem.rubricItemId"
          :rubricItemId="rubricItem.rubricItemId"
          :submissionId="submissionId"
          :id="'rubricItem' + rubricItem.rubricItemId"
      ></rubric-item>
      <!--</div>-->
      <!--</div>-->
    </div> <!-- End rubric item list -->
  </div>
</template>

<script>
  // var thisOverallEvalClicked = '';
  // var thisCreateMessage = '';
  import RubricItem from './RubricItem.vue';
  export default {
    components: {
      RubricItem,
    },
    data() {
      return {
        overallEvaluationOptions: ['Good', 'Needs work', 'Poor'],
      }
    }, //End data().
    props: {
      submissionId: {
        type: Number,
        required: true,
        default: 0,
      },
      graderTypedKey: {
        type: Boolean,
      },
      submissionGraded: {
        type: Boolean,
      },
      showThrobber: {
        type: Boolean,
        default: false
      }
    },
    watch: {
      graderTypedKey(){
//        let sendDisabled = this.sendMessageButtonDisabled();
//        console.log('RI pane. graderTypedKey');
//        $(this.$refs.rubricItemPaneSendMessageButton)
//            .attr('disabled', sendDisabled)
      },
      //Animate pane to show when switching to new submission.
      submissionId:function(val, oldVal) {
        this.collapseExpandedRubricItems();
        animatePaneSwitch('cyco-rubrics-pane');

      }
    },
    computed: {
      /**
       * Get the rubric items for the exercise this submission is for.
       * @returns {Array}
       */
      rubricItems() {
        // console.log('rubricItems()');
        let exerciseId = window.submissions[this.submissionId].exerciseId;
        let rubricItemIds = window.exercises[exerciseId].rubricItemIds;
        // loadRubricItems(rubricItemIds)
        //     .done(function() {
              let rubricItems = [];
              rubricItemIds.forEach(rubricItemId => {
                rubricItems.push(window.rubricItems[rubricItemId]);
              });
              return rubricItems;
            // });
      },
      newOptions() {

      },
//      exerciseCompleted(){
//        return window.submissions[this.submissionId].exerciseCompleted;
//      },
    },
    methods: {
      toggleComplete() {
        let complete = window.submissions[this.submissionId].exerciseCompleted;
        complete = !complete;
        window.submissions[this.submissionId].exerciseCompleted = complete;
        alert('boo');
        this.$forceUpdate();
        // let label = complete ? 'Complete' : 'Not complete';
        //Update data store.
      },

      //Return this submission's overall evaluation.
      overallEvaluation() {
        let result = window.submissions[this.submissionId].overallEvaluation
            ? window.submissions[this.submissionId].overallEvaluation
            : 'Overall';
        return result;
      },
      //Compute the class for the overall evaluation button.
      overallEvalClass() {
        let result = (this.overallEvaluation() === 'Overall')
            ? 'overall-eval-not-complete' : 'overall-eval-complete';
        return result;
      },
      /**
       * Grader clicked overall evaluation.
       */
      overallEvalClicked(event) {
        let evaluation = $(event.target).data('eval');
//        console.log('evaluation', evaluation);
        window.submissions[this.submissionId].overallEvaluation = evaluation;
//        window.x=this;
        //Update completed submission.
        //Compute result.
        let complete = (evaluation === 'Good');
        let label = complete ? 'Complete' : 'Not complete';
        //Update data store.
        window.submissions[this.submissionId].exerciseCompleted = complete;
        this.$forceUpdate();
      },
      //Update this component.
      rubricItemsPaneUpdate() {
//        console.log('rubricItemsPaneUpdate');
        this.$forceUpdate();
      },
      //Compute whether this object has been graded.
      isRubricItemGraded(rubricItemId) {
//        console.log('isRubricItemGraded rubricItemId',rubricItemId);
        //Get the grader's choices for this submission.
        let choicesSoFar = window.submissions[this.submissionId].rubricItemChoices;
//        console.log('choicesSoFar',choicesSoFar);
        //Is there an entry for this rubric item?
        if ( choicesSoFar[rubricItemId] === undefined) {
          //No, not graded yet.
          return false;
        }
        //Get options chosen for this rubric item.
        let rubricItemChosenResponses = choicesSoFar[rubricItemId];
//        console.log('rubricItemChosenResponses',rubricItemChosenResponses);
        if ( rubricItemChosenResponses ) {
          //Has anything been chosen?
//          console.log('numElements(rubricItemChosenResponses)',numElements(rubricItemChosenResponses));
          if ( numElements(rubricItemChosenResponses) > 0 ) {
            return true;
          }
        }
        return false;
      },
      /**
       * The number of ungraded items.
       * @returns {number} Number of items.
       */
      numUngradedItems: function () {
        //Get the submission.
        let submission = window.submissions[this.submissionId];
        //Get number of rubric items for the exercise.
        let numRubricItemsForExercise
            = numElements(window.exercises[submission.exerciseId].rubricItemIds);
//        console.log('numRubricItemsForExercise', numRubricItemsForExercise);
        //Get grader's choices for each rubric item so far (could be none for a rubric item).
        let gradersRubricItemChoices = submission.rubricItemChoices;
        //Count rubric items that have choices.
        let numRubricItemsWithChoices = 0;
        gradersRubricItemChoices.forEach(rubricItemChoices => {
          if (numElements(rubricItemChoices) > 0) {
            numRubricItemsWithChoices++;
          }
        });
//        console.log('numRubricItemsWithChoices', numRubricItemsWithChoices);
        return (numRubricItemsForExercise - numRubricItemsWithChoices);
      },
      /**
       * Compute label showing ratio of graded to total items.
       * @returns {string} Label for display.
       */
      gradedItemsRatio() {
        //Get the submission.
        let submission = window.submissions[this.submissionId];
        //Get number of rubric items for the exercise.
        let numRubricItemsForExercise
            = numElements(window.exercises[submission.exerciseId].rubricItemIds);
        let graded = numRubricItemsForExercise - this.numUngradedItems();
        return graded + '/' + numRubricItemsForExercise;
      },
      //What class for the exercise complete message?
      exerciseCompletedClass(){
        // let result = 'completed-status';
        let result = (window.submissions[this.submissionId].exerciseCompleted)
            ? 'text-success' : 'text-danger';
        return result;
      },
      //What label for the exercise complete dropdown button?
      //If submissions[n].exerciseCompleted is MT string, grader has not
      //made choice yet.
      exerciseCompletedLabel(){
        let result = 'Err';
        if ( window.submissions[this.submissionId].exerciseCompleted === '' ) {
          result = 'Completed?';
        }
        else if ( window.submissions[this.submissionId].exerciseCompleted ) {
          result = 'Completed';
        }
        else {
          result = 'Not completed';
        }
        return result;
      },
      //Grader clicked exercise complete option.
      // exerciseCompletedClicked(){
      //   window.submissions[this.submissionId].exerciseCompleted
      //       = $(event.target).data('completed');
      //   this.$forceUpdate();
      // },
      //Return create message button disabled state.
      //Button is disabled until grader has chosen overall eval, and
      //whether completed.
      createMessageButtonDisabled() {
        //Get the submission.
        let submission = window.submissions[this.submissionId];
        let disabledState =
            submission.overallEvaluation === ''
            || submission.exerciseCompleted === '';
//        console.log('disabledState',disabledState);
        return disabledState;
      },
      //Return desired send message button disabled state.
//      sendMessageButtonDisabled() {
//        //Get the submission.
//        let submission = window.submissions[this.submissionId];
//        let disabledState =
//            submission.overallEvaluation === ''
//            || submission.exerciseCompleted === '';
//        disabledState = disabledState || ! submission.feedback;
//        console.log('submission.feedback: *' + submission.feedback + '*');
//
//        console.log('sendMessageButtonDisabled: disabledState',disabledState);
//        return disabledState;
//      },
      //User clicked the Create message button.
      createMessage() {
        // console.log('createMessage');
        let message = '';
        const student = window.students[
            window.submissions[this.submissionId].studentId
        ];
        // console.log("student", student);
        const isCanSeeNames = student.isCanSeeNames;
        // console.log("isCanSeeNames", isCanSeeNames);
        let greeting = this.getRandom(window.greetings);
        // console.log("greeting afore sub", greeting);
        if (isCanSeeNames) {
          greeting = this.replaceStudentNameTokens(greeting, student);
        }
        else {
          greeting = this.killStudentNameTokens(greeting);
        }
        // console.log("greeting after sub", greeting);
        message += greeting + '<br><br>';
        let overallEval = window.submissions[this.submissionId].overallEvaluation;
        let overallEvalListToUse = window.summaries[overallEval.toLowerCase()];
        let overallEvalMessage = this.getRandom(overallEvalListToUse);
        if (isCanSeeNames) {
          overallEvalMessage = this.replaceStudentNameTokens(overallEvalMessage, student);
        }
        else {
          overallEvalMessage = this.killStudentNameTokens(overallEvalMessage);
        }
        message += overallEvalMessage; // + '<br><br>';
        //Chosen rubric responses.
        // Sort them by order of RIs they're in, in the exercise.
            // Get the options for that RI.
            // const rubricItemOptions = window.rubricItems[rubricItemId].responseOptionIds;
        let graderChoices = window.submissions[this.submissionId].rubricItemChoices;
        // console.log("graderChoices", graderChoices);
        const exerciseId = window.submissions[this.submissionId].exerciseId;
        // console.log("exerciseId", exerciseId);
        const exerciseRubricItemIds = window.exercises[exerciseId].rubricItemIds;
        // console.log("exerciseRubricItemIds", exerciseRubricItemIds);
        message += '<ul>';
        // Run through the RIs in the order they appear for the exercise.
        for (
               let exerciseRubricItemIdIndex = 0;
               exerciseRubricItemIdIndex < exerciseRubricItemIds.length;
               exerciseRubricItemIdIndex ++
        ) {
          const rubricItemId = exerciseRubricItemIds[exerciseRubricItemIdIndex];
          // console.log("start outer loop rubricItemId", rubricItemId);
          let graderResponseOptionsChoicesForRI = graderChoices[rubricItemId];
          // console.log("graderResponseOptionsChoicesForRI", graderResponseOptionsChoicesForRI);
          // Grader might not have chosen anything for the rubric item.
          if (graderResponseOptionsChoicesForRI) {
            for (
                let roArrayIndex = 0;
                roArrayIndex < graderResponseOptionsChoicesForRI.length;
                roArrayIndex++
            ) {
              const responseOptionId = graderResponseOptionsChoicesForRI[roArrayIndex];
              // console.log("responseOptionId", responseOptionId);
              let responseText = window.responseOptions[responseOptionId].response;
              if (isCanSeeNames) {
                responseText = this.replaceStudentNameTokens(responseText, student);
              }
              else {
                responseText = this.killStudentNameTokens(responseText);
              }
              // console.log("responseText", responseText);
              message += `<li>${responseText}</li>`;
              // Add response options to the output.
            }
          }
        }
        //Run through new options.
        //The options will be out of order. Not with their rubric item brethren.
        let that = this;
        this.$refs.rubricItem.forEach( ri => {
          ri.newOptions.forEach( newOption => {
            if ( newOption.chosen ) {
              let newOptionTitle = newOption.title;
              if (isCanSeeNames) {
                newOptionTitle = that.replaceStudentNameTokens(newOptionTitle, student);
              }
              else {
                newOptionTitle = that.killStudentNameTokens(newOptionTitle);
              }
//              console.log('',);
              if ( newOptionTitle.trim() === '' ) {
                newOptionTitle = '(Missing)';
              }
              message += `<li>${newOptionTitle}</li>`;
            }
          });
        });
        message += '</ul>';
        let signature = this.getRandom(window.signatures);
        if (isCanSeeNames) {
          signature = this.replaceStudentNameTokens(signature, student);
        }
        else {
          signature = this.killStudentNameTokens(signature);
        }
        message += signature;
        window.submissions[this.submissionId].feedback = message;
        this.$emit('clickedGenerateFeedback', message);
        //Update disabled state of send button.
        this.$nextTick(function(){
          // thisCreateMessage = this;
          this.$forceUpdate();
        });
      },
      /**
       * Get a random value from an array.
       * @param dataArray Array to choose from.
       * @returns {*} Value.
       */
      getRandom(dataArray) {
        let len = dataArray.length;
        if (len === 0) {
          return '(Missing grader data? Please supply greetings, signatures, etc.)';
        }
        let index = Math.floor(Math.random()*len);
        return dataArray[index];
      },
      /**
       * Replace the student name tokens in a string.
       * @param String value String to process.
       * @returns String Value with tokens replaced.
       */
      replaceStudentNameTokens(text, student) {
        const studentFirstName = student.firstName;
        const studentLastName = student.lastName;
        //Replace tokens.
        let result = text.replace('[student_first_name]', studentFirstName);
        result = result.replace('[student_last_name]', studentLastName);
        return result;
      },

      killStudentNameTokens(text) {
        let result = text.replace('[student_first_name]', '');
        result = result.replace('[student_last_name]', '');
        return result;
      },

      replaceUnrestrictedTokens(text) {
      },

      /**
       * Grader clicked Send message button. Tell the parent about it.
       */
      sendMessageClicked() {
        //Save this for later.
        let executionContext = this;
        //Check that there is feedback.
        let submission = window.submissions[this.submissionId];
        if ( ! submission.feedback ) {
          swal("Oops", "Nothing to send.", "error");
          return;
        }
//        console.log('sendMessageClicked');
        //Check for rubric item to confirm send.
        let rubricItemsReportingMtOptions = [];
        this.$refs.rubricItem.forEach( ri => {
//          console.log('ri.isMtNewOption() *' + ri.isMtNewOption() + '*');
          if ( ri.isMtNewOption() ) {
//            console.log('Got one');
            rubricItemsReportingMtOptions.push(ri.rubricItemId);
          }
        });
        if ( rubricItemsReportingMtOptions.length > 0 ) {
          let message = 'The following rubric items have empty options:\n\n';
          rubricItemsReportingMtOptions.forEach( riId => {
            let title = window.rubricItems[riId].title;
            message += '* ' + title + '\n';
          });
          message += '\nPlease finish or delete the empty options.';
          swal("Oops", message, "error");
          return;
        }
        //Extract new options from rubric items.
        let newOptions = [];
        this.$refs.rubricItem.forEach( ri => {
          let rubricItemId = ri.rubricItemId;
          ri.newOptions.forEach(function (newOption, optionIndexInRI) {
            let newOptionTitle = newOption.title.trim();
            newOptions.push({
              'rubricItemId': rubricItemId,
              'newOptionTitle': newOptionTitle,
              'indexInRINewOptions': optionIndexInRI,
              'keep': newOption.keep
            });
          }); //End for each new item.
          //Erase the new options for the rubric item.
          ri.newOptions = [];
        }); //End for each rubric item.
        //Show throbber.
        // this.showThrobber = true;
        $("#feedback-throbber").show();
        //Send the new options to the server, if there are any.
        //Server saves them, and sends back the new ids for the options.
        saveNewResponseOptions(newOptions)
          .done(function(serverReply) {
            if (serverReply && Array.isArray(serverReply) && serverReply.length > 0) {
              //Server sends back the nids of the new options.
              //Run through them, creating a new option in the window data store.
              serverReply.forEach(replyItem => {
                let rubricItemIdFromServer = replyItem.rubricItemId;
                let indexInRINewOptionsFromServer = replyItem.indexInRINewOptions;
                //This is the nid to use.
                let optionNidFromServer = replyItem.optionNid;
                //Find the title of the new option to create.
                //It's in the data that was sent to the server.
                let title = "";
                let keep = false;
                newOptions.forEach(newOption => {
                  if (
                      newOption.rubricItemId == rubricItemIdFromServer
                      && newOption.indexInRINewOptions == indexInRINewOptionsFromServer
                  ) {
                    title = newOption.newOptionTitle;
                    keep = newOption.keep;
                    //Add new option to submission.
                    //Are there any responses for the RI?
                    if (
                        submission.rubricItemChoices[newOption.rubricItemId] == undefined
                        || submission.rubricItemChoices[newOption.rubricItemId].length == 0
                    ) {
                      //No. Add the new response.
                      submission.rubricItemChoices[newOption.rubricItemId] = [optionNidFromServer];
                    }
                    else {
                      //Some other responses are already there. Add the new option to the end.
                      submission.rubricItemChoices[newOption.rubricItemId].push(optionNidFromServer);
                    }
                  }
                }); // End loop over new options.
                //Should find one.
                if (title !== "") {
                  //Add to response options store.
                  window.responseOptions[optionNidFromServer] = {
                    responseOptionId: optionNidFromServer,
                    title: title,
                    notes: '',
                    completes: false,
                    appliesToExerciseIds: [],
                  };
                  if (keep) {
                    //Add response option to list for rubric item.
                    window.rubricItems[rubricItemIdFromServer]
                        .responseOptionIds.push(optionNidFromServer);

                  }
                } //End title was found.
              }); //End for each server reply item.
            } //End if there was data from the server.
            //Finished with the new options.
            //Now store the feedback.
            // console.log('afore save fb. submission:', submission);
            saveFeedback(submission.submissionId)
              .done(function (dataReturned) {
//                this.showThrobber = false;
                $("#feedback-throbber").hide();
                submission.feedbackDate = new Date();
                // window.submissions[submission.submissionId].assessed = true;
                //console.log('saveFeedback', dataReturned);
                executionContext.collapseExpandedRubricItems();
                executionContext.$emit('sendMessageClicked', submission.submissionId);
                executionContext.$nextTick(() => {
                  executionContext.$forceUpdate();
                });
              }); //End done saveFeedback.
          }); //End done saveNewResponseOptions.
      }, //End sendMessageClicked.
      /**
       * Collapse all of the rubric items.
       */
      collapseExpandedRubricItems(){
        let expandedRubricItems = $('#anchor-jump-list-targets .collapse.in');
        $(expandedRubricItems).each( (index, expandedRubricItem ) => {
          $(expandedRubricItem).closest('.panel')
              .find('button.js-collapse-panel-body').click();
        });
      },
    },
  }
</script>

<style scoped>
  #rubric-item-pane-cp {
    background-color: #f8f8f8;
    padding: 2px;
    border-bottom: 2px #eee solid;
    z-index: 100;
    position: fixed;
  }
  #anchor-jump-list-targets {
    padding-top: 60px;
  }
  /* Control panel rows. */
  .cp-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .cp-row:first-child {
    flex-grow: 1;
  }
  /* Last row item is right aligned. */
  .feedback-button-row {
    align-items: flex-end;
  }
  .rubric-item-graded {
    text-decoration: line-through;
  }
  .overall-eval-not-complete {
    color: white;
    border: white dotted thin;
  }
  .overall-eval-complete {
    color: white;
  }
  .completed-status {
    color: white;
  }

</style>
