<template>
  <div id="cyco-feedback-submission-pane">
    <!--    <div v-html="submittedContent"></div>-->
    <p v-if="submissionId === 0">Choose a submission above.</p>
    <div v-else>
      <!-- A submission has been selected. -->

      <!-- Show content in the text field. -->
      <p class="skilling-submitted-header">Submitted content</p>
      <p v-if="! submittedContent">
        (No content submitted.)
      </p>
      <p v-else v-html="submittedContent"></p>

      <!-- Show submitted files.-->
      <p class="skilling-submitted-header">Submitted files</p>
      <p v-if="submittedFiles.length === 0">(No files submitted.)</p>
      <div v-else>
        <p v-for="(submittedFile, index) in submittedFiles">
<!--          <span><a class="skilling-submitted-file-link" @click="showSubmittedFile(submittedFile)">{{ submittedFile.name }}</a></span>-->
                <span><a class="skilling-submitted-file-link"
                   :data-submission-id="submissionId"
                   :data-index="index"
                   :data-name="submittedFile.name"
                   :data-url="submittedFile.url"
                   target="_blank"
                   :href="submittedFile.url">{{ submittedFile.name }}</a></span>
        </p>
      </div>
<!--      <span><a class="skilling-submitted-file-link"-->
<!--      onclick="showSubmittedFile(event)">{{ submittedFile.name }}</a></span>-->
<!--      href="http://s1.localhost/system/files/skilling/submissions/submitted-files/4/t.txt"-->
<!--      target="_blank"-->
<!--      type="text/plain; length=16">-->
<!--      {{ submittedFile.name }}</a></span>-->

    </div>
    <grader-files :submissionId="submissionId"></grader-files>
  </div>
</template>

<script>
  import GraderFiles from "./GraderFiles.vue";
  export default {
    components: {GraderFiles},
    props: {
      submissionId: {
        type: Number,
        required: true,
        default: 0,
      },
    },
    watch: {
      //Animate pane to show when switching to new submission.
      submissionId:function(val, oldVal) {
        animatePaneSwitch('cyco-feedback-submission-pane');
      }
    },
    computed: {
      //The content the student submitted in the text field.
      submittedContent() {
        let result = "";
        if (window.submissions[this.submissionId]) {
          if (window.submissions[this.submissionId].submittedContent) {
            result = window.submissions[this.submissionId].submittedContent.trim();
          }
        }
        return result;
      },
      submittedFiles() {
        let filesResults = [];
        if (window.submissions[this.submissionId]) {
          if (window.submissions[this.submissionId].submittedFileUrls) {
            let submittedFileUrls = window.submissions[this.submissionId].submittedFileUrls;
            if (Array.isArray(submittedFileUrls)) {
              if (submittedFileUrls.length > 0) {
                for (let index = 0; index < submittedFileUrls.length; index++) {
                  let submittedFileUrl = submittedFileUrls[index].url;
                  // Make the link text from the last part of the URL.
                  let parts = submittedFileUrl.split("/");
                  if (parts.length > 0) {
                    let fileName = parts.pop();
                    let fileResult = {
                      "name": fileName,
                      "url": submittedFileUrl
                    };
                    filesResults.push(fileResult);
                  }
                } // End for of
              } // End length > 0
            } // End is array
          }
        }
        return filesResults;
      },
      /**
       * Get the content the student submitted.
       * @returns {string} The content.
       */
      submittedContentOld(){
        if ( this.submissionId === 0 ) {
          //Initial id is 0.
          return 'Choose a submission above.';
        }
        let displayValue = window.submissions[this.submissionId].submittedContent;
        // Make links for submitted files.
        if (window.submissions[this.submissionId].submittedFileUrls) {
          let submittedFileUrls = window.submissions[this.submissionId].submittedFileUrls;
          if (Array.isArray(submittedFileUrls)) {
            if (submittedFileUrls.length > 0) {
              window.submissions[this.submissionId].subFileLink = [];
              for (let index = 0; index < submittedFileUrls.length; index++) {
                let submittedFileUrl = submittedFileUrls[index].url;
                // Make the link text from the last part of the URL.
                let parts = submittedFileUrl.split("/");
                if (parts.length > 0) {
                  let fileName = parts.pop();
                  let studentId = window.submissions[this.submissionId].studentId;
                  let studentName = window.students[studentId].firstName
                      + " " + window.students[studentId].lastName;
                  let exerciseId = window.submissions[this.submissionId].exerciseId;
                  let exerciseName = window.exercises[exerciseId].title;
                  let paramObject = {
                    "studentName": `${studentName}`,
                    "exerciseName": `${exerciseName}`,
                    "fileName": `${fileName}`,
                    "submittedFileUrl": `${submittedFileUrl}`
                  };
                  window.submissions[this.submissionId].subFileLink[index] = paramObject;
                  // showSubmittedFile(paramObject);
                  // let link = "<a href='" + submittedFileUrl + "' target='_blank'>" + fileName + "</a>";
                  let link=`<a class="skilling-submitted-file-link" onclick="showSubmittedFile(${this.submissionId}, ${index})">${fileName}</a>`;
                  // let deleteButton = "";
                  // let fileOwnerId = submittedFileUrls[index].owner;
                  // let currentUserId = Drupal.skillingSettings.currentUserId;
                  // if (fileOwnerId === currentUserId) {
                  //   deleteButton="<button type='button'>Delete</button>";
                  // }
                  // displayValue += "<p>" + link + deleteButton + "</p>";
                  displayValue += "<p>" + link + "</p>";
                }
              } // End for of
            } // End length > 0
          } // End is array
        }
        return displayValue;
      },
    },
    methods: {
      //User clicked on a grader file. Show it.
      showSubmittedFileOld(submittedFileDeets) {
        console.log(submittedFileDeets);
        //Get student deets.
        let studentId = window.submissions[this.submissionId].studentId;
        let student = window.students[studentId];
        let studentFirstName = student.firstName;
        let studentLastName = student.lastName;
        //Get exercise deets.
        let exerciseId = window.submissions[this.submissionId].exerciseId;
        let exercise = window.exercises[exerciseId];
        let exerciseTitle = exercise.title;
        //Get file deets.
        let fileName = submittedFileDeets.name;
        let fileUrl = submittedFileDeets.url;
        let newWindow = window.open("", "",
            "resizable=yes,status=yes,width=600,height=600");
        newWindow.document.title = "Student file submission";
        let htmlOutput = `
<h3>Student file submission</h3>
<div style="font-family: Sans-Serif;">
  <p><strong>Student:</strong> ${studentFirstName} ${studentLastName}</p>
  <p><strong>Exercise:</strong> ${exerciseTitle}</p>
  <p><strong>File:</strong> ${fileName}</p>
  <iframe style="width: 100%;height: 100%;" style="" src="${fileUrl}"></iframe>
</div>`;
        newWindow.document.body.innerHTML = htmlOutput;
      }
    }
  }

  function showFile(e) {
    let r = 6;
    var tt = 6;
    console.log(e);
    alert(66);
    window.evnt = e;
  }
</script>

<style scoped>

  .skilling-submitted-file-link {
    cursor: pointer;
  }

  .skilling-submitted-header {
    font-weight: bold;
  }

</style>
