/**
 * Created by kieran on 31/05/17.
 * Based on https://github.com/rmp135/vue-splitter.
 */
<template>
  <div :style="{ cursor, userSelect }" style="height: 100%" class="vertical-vue-splitter"
       @mouseup="onUp"
       @mousemove="onMouseMove" @touchmove="onMove" @touchend="onUp">
    <div :style="{ height: currentPercent+'%' }"
         class="top-pane vertical-splitter-pane">
      <slot name="top-pane" style="height: 100%"></slot>
    </div>
    <div class="vertical-splitter" :class="{active}" @mousedown="onDown"
         @touchstart.prevent="onDown"></div>
    <div :style="{ height: 100-currentPercent+'%'}"
         class="bottom-pane vertical-splitter-pane">
      <slot name="bottom-pane" style="height: 100%" ></slot>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      min: {
        type: Number,
        default: 10
      },
      percent: {
        type: Number,
        default: 50,
      }
    },
    data () {
      return {
        active: false,
        currentPercent: 50,
        hasMoved: false,
      }
    },
    computed: {
      userSelect () { return this.active ? 'none' : '' },
      cursor () { return this.active ? 'ns-resize' : '' },
    },
    methods: {
      onDown (e) {
        this.active = true;
        this.hasMoved = false;
      },
      onUp () {
        this.active = false;
      },
      onMove (e) {
        if (this.active) {
          let offset = 0;
          let target = e.currentTarget;
          while (target) {
            offset += target.offsetTop;
            target = target.offsetParent;
          }
          const currentPercent =  Math.floor(((e.pageY - offset)
                  / e.currentTarget.offsetHeight)*10000)/100;
          if (currentPercent > this.min && currentPercent < 100 - this.min) {
            this.currentPercent = currentPercent;
          }
          this.$emit('resize');
          this.hasMoved = true;
        }
      },
      onMouseMove (e) {
        if (e.buttons === 0 || e.which === 0) {
          this.active = false;
        }
        this.onMove(e);
      }
    },
    mounted(){
      this.currentPercent = this.percent;
    }
  }
</script>

<style>
  .top-pane, .bottom-pane {
    height: 100%;
    overflow-y:auto;
  }
  div.top-pane > div:first-child, div.bottom-pane > div:first-child {
    height: 100%;
  }

.vertical-vue-splitter {
  width: inherit;
  display: flex;
  flex-direction: column;
}

.vertical-vue-splitter .vertical-splitter-pane {
  width: inherit;
}

  .vertical-vue-splitter .vertical-splitter {
  height: 5px;
  background-color: #9e9e9e;
  cursor: ns-resize;
}
</style>
